openapi: 3.2.0
info:
  description: 'This is the full documentation of the REST API of Orthanc.

    This reference is automatically generated from the source code of Orthanc. A shorter cheat sheet is part of the Orthanc Book.

    An earlier, manually crafted version from August 2019, is still available, but is not up-to-date anymore (source).'
  title: Orthanc Studies API
  version: 1.13.0
servers:
- url: https://orthanc.uclouvain.be/demo/
tags:
- name: Studies
paths:
  /studies:
    get:
      deprecated: false
      description: List the Orthanc identifiers of all the available DICOM studies
      parameters:
      - description: If present, retrieve detailed information about the individual resources, not only their Orthanc identifiers
        in: query
        name: expand
        required: false
        schema:
          type: string
      - description: If present, report the DICOM tags in full format (tags indexed by their hexadecimal format, associated with their symbolic name and their value)
        in: query
        name: full
        required: false
        schema:
          type: boolean
      - description: Limit the number of results
        in: query
        name: limit
        required: false
        schema:
          type: number
      - description: 'If present, list the DICOM Tags you want to list in the response.  This argument is a semi-column separated list of DICOM Tags identifiers; e.g: ''requested-tags=0010,0010;PatientBirthDate''.  The tags requested tags are returned in the ''RequestedTags'' field in the response.  Note that, if you are requesting tags that are not listed in the Main Dicom Tags stored in DB, building the response might be slow since Orthanc will need to access the DICOM files.  If not specified, Orthanc will return all Main Dicom Tags to keep backward compatibility with Orthanc prior to 1.11.0.'
        in: query
        name: requested-tags
        required: false
        schema:
          type: string
      - description: 'Defines the content of response for each returned resource.  Allowed values are `MainDicomTags`, `Metadata`, `Children`, `Parent`, `Labels`, `Status`, `IsStable`, `IsProtected`, `Attachments`.  If not specified, Orthanc will return `MainDicomTags`, `Metadata`, `Children`, `Parent`, `Labels`, `Status`, `IsStable`, `IsProtected`.e.g: ''response-content=MainDicomTags;Children (new in Orthanc 1.12.5 - overrides `expand`)'
        in: query
        name: response-content
        required: false
        schema:
          type: string
      - description: If present, report the DICOM tags in hexadecimal format
        in: query
        name: short
        required: false
        schema:
          type: boolean
      - description: Show only the resources since the provided index
        in: query
        name: since
        required: false
        schema:
          type: number
      responses:
        '200':
          content:
            application/json:
              schema:
                description: JSON array containing either the Orthanc identifiers, or detailed information about the reported studies (if `expand` argument is provided)
                example:
                - 0dff9280-2375f586-1297870c-4cbd6d1c-527e36e5
                - 1c379a23-9fd28bba-02b60e5b-850ff34e-4349f09b
          description: ''
      summary: List the available studies
      tags:
      - Studies
      operationId: getStudies
      x-operation-id-source: derived
  /studies/{id}:
    delete:
      deprecated: false
      description: Delete the DICOM study whose Orthanc identifier is provided in the URL
      parameters:
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Delete some study
      tags:
      - Studies
      operationId: deleteStudiesById
      x-operation-id-source: derived
    get:
      deprecated: false
      description: Get detailed information about the DICOM study whose Orthanc identifier is provided in the URL
      parameters:
      - description: If present, report the DICOM tags in full format (tags indexed by their hexadecimal format, associated with their symbolic name and their value)
        in: query
        name: full
        required: false
        schema:
          type: boolean
      - description: 'If present, list the DICOM Tags you want to list in the response.  This argument is a semi-column separated list of DICOM Tags identifiers; e.g: ''requested-tags=0010,0010;PatientBirthDate''.  The tags requested tags are returned in the ''RequestedTags'' field in the response.  Note that, if you are requesting tags that are not listed in the Main Dicom Tags stored in DB, building the response might be slow since Orthanc will need to access the DICOM files.  If not specified, Orthanc will return all Main Dicom Tags to keep backward compatibility with Orthanc prior to 1.11.0.'
        in: query
        name: requested-tags
        required: false
        schema:
          type: string
      - description: If present, report the DICOM tags in hexadecimal format
        in: query
        name: short
        required: false
        schema:
          type: boolean
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Information about the DICOM study
                example:
                  ID: 27f7126f-4f66fb14-03f4081b-f9341db2-53925988
                  IsStable: true
                  Labels: []
                  LastUpdate: 20231109T160811
                  MainDicomTags:
                    AccessionNumber: '0'
                    InstitutionName: 7GEFF0GbzqCNo43Yd0,Ibu,zQSSX
                    ReferringPhysicianName: dAEvNTxZJO0E
                    RequestedProcedureDescription: IRM cérébrale, neuro-crâne
                    StudyDate: '20061201'
                    StudyDescription: IRM cérébrale, neuro-crâne
                    StudyID: '218211405'
                    StudyInstanceUID: 2.16.840.1.113669.632.20.1211.10000357775
                    StudyTime: '141645.000000'
                  ParentPatient: 16738bc3-e47ed42a-43ce044c-a3414a45-cb069bd0
                  PatientMainDicomTags:
                    PatientBirthDate: '19490301'
                    PatientID: 5Yp0E
                    PatientName: BRAINIX
                    PatientSex: '0000'
                  Series:
                  - 1e2c125c-411b8e86-3f4fe68e-a7584dd3-c6da78f0
                  - 2ac1316d-3e432022-62eabff2-c59f5475-9b1ac3f8
                  - 3ca69615-fcd4a4fb-e5f2cc9d-9c7a49a5-add98bbf
                  - 4baa97c7-d53d3d82-a5eb9403-17ef5a77-4e0efb55
                  - 635faa23-fd8378ee-d03bce29-ee47c2fb-a65c5509
                  - ae164c84-e5bd0366-ba937a6d-65414092-f294d6b6
                  - dc0216d2-a406a5ad-31ef7a78-113ae9d9-29939f9e
                  Type: Study
          description: ''
      summary: Get information about some study
      tags:
      - Studies
      operationId: getStudiesById
      x-operation-id-source: derived
  /studies/{id}/anonymize:
    post:
      deprecated: false
      description: Start a job that will anonymize all the DICOM instances within the study whose identifier is provided in the URL. The modified DICOM instances will be stored into a brand new study, whose Orthanc identifiers will be returned by the job. https://orthanc.uclouvain.be/book/users/anonymization.html#anonymization-of-patients-studies-or-series
      parameters:
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              properties:
                Asynchronous:
                  description: If `true`, run the job in asynchronous mode, which means that the REST API call will immediately return, reporting the identifier of a job. Prefer this flavor wherever possible.
                  type: boolean
                DicomVersion:
                  description: Version of the DICOM standard to be used for anonymization. Check out configuration option `DeidentifyLogsDicomVersion` for possible values.
                  type: string
                Force:
                  description: Allow the modification of tags related to DICOM identifiers, at the risk of breaking the DICOM model of the real world
                  type: boolean
                Keep:
                  description: List of DICOM tags whose value must not be destroyed by the anonymization. Starting with Orthanc 1.9.4, paths to subsequences can be provided using the same syntax as the `dcmodify` command-line tool (wildcards are supported as well).
                  items:
                    type: string
                  type: array
                KeepLabels:
                  description: Keep the labels of all resources level (defaults to `false`)
                  type: boolean
                KeepPrivateTags:
                  description: Keep the private tags from the DICOM instances (defaults to `false`)
                  type: boolean
                KeepSource:
                  description: If set to `false`, instructs Orthanc to the remove original resources. By default, the original resources are kept in Orthanc.
                  type: boolean
                LossyQuality:
                  description: If transcoding to a lossy transfer syntax, this entry defines the quality as an integer between 1 and 100.  If not provided, the value is defined by the "DicomLossyTranscodingQuality" configuration. (new in v1.12.7)
                  type: number
                Permissive:
                  description: If `true`, ignore errors during the individual steps of the job.  Default value is `false`.
                  type: boolean
                Priority:
                  description: In asynchronous mode, the priority of the job. The higher the value, the higher the priority.  Default value is `0`
                  type: number
                PrivateCreator:
                  description: The private creator to be used for private tags in `Replace`
                  type: string
                Remove:
                  description: List of additional tags to be removed from the DICOM instances. Starting with Orthanc 1.9.4, paths to subsequences can be provided using the same syntax as the `dcmodify` command-line tool (wildcards are supported as well).
                  items:
                    type: string
                  type: array
                Replace:
                  description: Associative array to change the value of some DICOM tags in the DICOM instances. Starting with Orthanc 1.9.4, paths to subsequences can be provided using the same syntax as the `dcmodify` command-line tool (wildcards are supported as well).
                  type: object
                Synchronous:
                  description: If `true`, run the job in synchronous mode, which means that the HTTP answer will directly contain the result of the job. This is the default, easy behavior, but it is *not* desirable for long jobs, as it might lead to network timeouts.
                  type: boolean
                Transcode:
                  description: 'Transcode the DICOM instances to the provided DICOM transfer syntax: https://orthanc.uclouvain.be/book/faq/transcoding.html'
                  type: string
                UserData:
                  description: User data that will travel along with the job.
                  type: object
      responses:
        '200':
          content:
            application/json:
              examples: {}
              schema:
                description: ''
                properties:
                  ID:
                    description: In asynchronous mode, identifier of the job
                    type: string
                  Path:
                    description: In asynchronous mode, path to access the job in the REST API
                    type: string
          description: ''
      summary: Anonymize study
      tags:
      - Studies
      operationId: postStudiesByIdAnonymize
      x-operation-id-source: derived
  /studies/{id}/archive:
    get:
      deprecated: false
      description: Synchronously create a ZIP archive containing the DICOM study whose Orthanc identifier is provided in the URL. This flavor is synchronous, which might *not* be desirable to archive large amount of data, as it might lead to network timeouts. Prefer the asynchronous version using `POST` method.
      parameters:
      - description: Filename to set in the "Content-Disposition" HTTP header (including file extension)
        in: query
        name: filename
        required: false
        schema:
          type: string
      - description: If transcoding to a lossy transfer syntax, this entry defines the quality as an integer between 1 and 100.  If not provided, the value is defined by the "DicomLossyTranscodingQuality" configuration. (new in v1.12.7)
        in: query
        name: lossy-quality
        required: false
        schema:
          type: number
      - description: 'If present, the DICOM files in the archive will be transcoded to the provided transfer syntax: https://orthanc.uclouvain.be/book/faq/transcoding.html'
        in: query
        name: transcode
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/zip:
              examples: {}
              schema:
                description: ZIP file containing the archive
          description: ''
      summary: Create ZIP archive
      tags:
      - Studies
      operationId: getStudiesByIdArchive
      x-operation-id-source: derived
    post:
      deprecated: false
      description: Create a ZIP archive containing the DICOM study whose Orthanc identifier is provided in the URL
      parameters:
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              properties:
                Asynchronous:
                  description: If `true`, create the archive in asynchronous mode, which means that a job is submitted to create the archive in background.
                  type: boolean
                Filename:
                  description: Filename to set in the "Content-Disposition" HTTP header (including file extension)
                  type: string
                LossyQuality:
                  description: If transcoding to a lossy transfer syntax, this entry defines the quality as an integer between 1 and 100.  If not provided, the value is defined by the "DicomLossyTranscodingQuality" configuration. (new in 1.12.7)
                  type: number
                Priority:
                  description: In asynchronous mode, the priority of the job. The higher the value, the higher the priority.
                  type: number
                Synchronous:
                  description: If `true`, create the archive in synchronous mode, which means that the HTTP answer will directly contain the ZIP file. This is the default, easy behavior. However, if global configuration option "SynchronousZipStream" is set to "false", asynchronous transfers should be preferred for large amount of data, as the creation of the temporary file might lead to network timeouts.
                  type: boolean
                Transcode:
                  description: 'If present, the DICOM files in the archive will be transcoded to the provided transfer syntax: https://orthanc.uclouvain.be/book/faq/transcoding.html'
                  type: string
                UserData:
                  description: In asynchronous mode, user data that will be attached to the job.
                  type: object
                Utf8:
                  description: If `true`, filenames will be encoded using UTF-8 in the ZIP archive, which may not be supported by your operating system or by your ZIP uncompression software. If `false`, filenames will be encoded using plain ASCII, which was the default in Orthanc <= 1.12.10. Default value is defined by the "ZipUseUtf8" configuration option. (new in 1.12.11)
                  type: boolean
      responses:
        '200':
          content:
            application/json:
              examples: {}
              schema:
                description: 'In asynchronous mode, information about the job that has been submitted to generate the archive: https://orthanc.uclouvain.be/book/users/advanced-rest.html#jobs'
                properties:
                  ID:
                    description: Identifier of the job
                    type: string
                  Path:
                    description: Path to access the job in the REST API
                    type: string
            application/zip:
              examples: {}
              schema:
                description: In synchronous mode, the ZIP file containing the archive
          description: ''
      summary: Create ZIP archive
      tags:
      - Studies
      operationId: postStudiesByIdArchive
      x-operation-id-source: derived
  /studies/{id}/attachments:
    get:
      deprecated: false
      description: Get the list of attachments that are associated with the given study
      parameters:
      - description: If present, retrieve the attachments list and their numerical ids
        in: query
        name: full
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: JSON array containing the names of the attachments
                example: []
          description: ''
      summary: List attachments
      tags:
      - Studies
      operationId: getStudiesByIdAttachments
      x-operation-id-source: derived
  /studies/{id}/attachments/{name}:
    delete:
      deprecated: false
      description: Delete an attachment associated with the given DICOM study. This call will fail if trying to delete a system attachment (i.e. whose index is < 1024).
      parameters:
      - description: Revision of the attachment, to check if its content has not changed and can be deleted. This header is mandatory if `CheckRevisions` option is `true`.
        in: header
        name: If-Match
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Delete attachment
      tags:
      - Studies
      operationId: deleteStudiesByIdAttachmentsByName
      x-operation-id-source: derived
    put:
      deprecated: false
      description: Attach a file to the given DICOM study. This call will fail if trying to modify a system attachment (i.e. whose index is < 1024).
      parameters:
      - description: Revision of the attachment, if this is not the first time this attachment is set.
        in: header
        name: If-Match
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              description: Binary data containing the attachment
      responses:
        '200':
          content:
            application/json:
              examples: {}
              schema:
                description: Empty JSON object in the case of a success
          description: ''
      summary: Set attachment
      tags:
      - Studies
      operationId: putStudiesByIdAttachmentsByName
      x-operation-id-source: derived
  /studies/{id}/attachments/{name}/compress:
    post:
      deprecated: false
      description: Change the compression scheme that is used to store an attachment.
      parameters:
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Compress attachment
      tags:
      - Studies
      operationId: postStudiesByIdAttachmentsByNameCompress
      x-operation-id-source: derived
  /studies/{id}/attachments/{name}/compressed-data:
    get:
      deprecated: false
      description: Get the (binary) content of one attachment associated with the given study. The attachment will not be decompressed if `StorageCompression` is `true`.
      parameters:
      - description: Filename to set in the "Content-Disposition" HTTP header (including file extension)
        in: query
        name: filename
        required: false
        schema:
          type: string
      - description: Optional revision of the attachment, to check if its content has changed
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
      - description: Optional content range to access part of the attachment (new in Orthanc 1.12.5)
        in: header
        name: Range
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/octet-stream:
              examples: {}
              schema:
                description: The attachment
          description: ''
          headers:
            ETag:
              description: Revision of the attachment, to be used in further `PUT` or `DELETE` operations
      summary: Get attachment (no decompression)
      tags:
      - Studies
      operationId: getStudiesByIdAttachmentsByNameCompressedData
      x-operation-id-source: derived
  /studies/{id}/attachments/{name}/compressed-md5:
    get:
      deprecated: false
      description: Get the MD5 hash of one attachment associated with the given study, as stored on the disk. This is different from `.../md5` iff `EnableStorage` is `true`.
      parameters:
      - description: Optional revision of the attachment, to check if its content has changed
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            text/plain:
              examples: {}
              schema:
                description: The MD5 of the attachment, as stored on the disk
          description: ''
          headers:
            ETag:
              description: Revision of the attachment, to be used in further `PUT` or `DELETE` operations
      summary: Get MD5 of attachment on disk
      tags:
      - Studies
      operationId: getStudiesByIdAttachmentsByNameCompressedMd5
      x-operation-id-source: derived
  /studies/{id}/attachments/{name}/compressed-size:
    get:
      deprecated: false
      description: Get the size of one attachment associated with the given study, as stored on the disk. This is different from `.../size` iff `EnableStorage` is `true`.
      parameters:
      - description: Optional revision of the attachment, to check if its content has changed
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            text/plain:
              examples: {}
              schema:
                description: The size of the attachment, as stored on the disk
          description: ''
          headers:
            ETag:
              description: Revision of the attachment, to be used in further `PUT` or `DELETE` operations
      summary: Get size of attachment on disk
      tags:
      - Studies
      operationId: getStudiesByIdAttachmentsByNameCompressedSize
      x-operation-id-source: derived
  /studies/{id}/attachments/{name}/data:
    get:
      deprecated: false
      description: Get the (binary) content of one attachment associated with the given study
      parameters:
      - description: Filename to set in the "Content-Disposition" HTTP header (including file extension)
        in: query
        name: filename
        required: false
        schema:
          type: string
      - description: Optional revision of the attachment, to check if its content has changed
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
      - description: Optional content range to access part of the attachment (new in Orthanc 1.12.5)
        in: header
        name: Range
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/octet-stream:
              examples: {}
              schema:
                description: The attachment
          description: ''
          headers:
            ETag:
              description: Revision of the attachment, to be used in further `PUT` or `DELETE` operations
      summary: Get attachment
      tags:
      - Studies
      operationId: getStudiesByIdAttachmentsByNameData
      x-operation-id-source: derived
  /studies/{id}/attachments/{name}/info:
    get:
      deprecated: false
      description: Get all the information about the attachment associated with the given study
      parameters:
      - description: Optional revision of the attachment, to check if its content has changed
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: JSON object containing the information about the attachment
                example:
                  CompressedMD5: 26f3fad6ca0c355f02d57c7fa6770248
                  CompressedSize: 526970
                  ContentType: 1
                  UncompressedMD5: 26f3fad6ca0c355f02d57c7fa6770248
                  UncompressedSize: 526970
                  Uuid: ada05909-0efc-43fd-b615-c5cafbaeacf8
          description: ''
          headers:
            ETag:
              description: Revision of the attachment, to be used in further `PUT` or `DELETE` operations
      summary: Get info about the attachment
      tags:
      - Studies
      operationId: getStudiesByIdAttachmentsByNameInfo
      x-operation-id-source: derived
  /studies/{id}/attachments/{name}/is-compressed:
    get:
      deprecated: false
      description: Test whether the attachment has been stored as a compressed file on the disk.
      parameters:
      - description: Optional revision of the attachment, to check if its content has changed
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            text/plain:
              examples: {}
              schema:
                description: '`0` if the attachment was stored uncompressed, `1` if it was compressed'
          description: ''
          headers:
            ETag:
              description: Revision of the attachment, to be used in further `PUT` or `DELETE` operations
      summary: Is attachment compressed?
      tags:
      - Studies
      operationId: getStudiesByIdAttachmentsByNameIsCompressed
      x-operation-id-source: derived
  /studies/{id}/attachments/{name}/md5:
    get:
      deprecated: false
      description: Get the MD5 hash of one attachment associated with the given study
      parameters:
      - description: Optional revision of the attachment, to check if its content has changed
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            text/plain:
              examples: {}
              schema:
                description: The MD5 of the attachment
          description: ''
          headers:
            ETag:
              description: Revision of the attachment, to be used in further `PUT` or `DELETE` operations
      summary: Get MD5 of attachment
      tags:
      - Studies
      operationId: getStudiesByIdAttachmentsByNameMd5
      x-operation-id-source: derived
  /studies/{id}/attachments/{name}/size:
    get:
      deprecated: false
      description: Get the size of one attachment associated with the given study
      parameters:
      - description: Optional revision of the attachment, to check if its content has changed
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            text/plain:
              examples: {}
              schema:
                description: The size of the attachment
          description: ''
          headers:
            ETag:
              description: Revision of the attachment, to be used in further `PUT` or `DELETE` operations
      summary: Get size of attachment
      tags:
      - Studies
      operationId: getStudiesByIdAttachmentsByNameSize
      x-operation-id-source: derived
  /studies/{id}/attachments/{name}/uncompress:
    post:
      deprecated: false
      description: Change the compression scheme that is used to store an attachment.
      parameters:
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Uncompress attachment
      tags:
      - Studies
      operationId: postStudiesByIdAttachmentsByNameUncompress
      x-operation-id-source: derived
  /studies/{id}/attachments/{name}/verify-md5:
    post:
      deprecated: false
      description: Verify that the attachment is not corrupted, by validating its MD5 hash
      parameters:
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples: {}
              schema:
                description: On success, a valid JSON object is returned
          description: ''
      summary: Verify attachment
      tags:
      - Studies
      operationId: postStudiesByIdAttachmentsByNameVerifyMd5
      x-operation-id-source: derived
  /studies/{id}/instances:
    get:
      deprecated: false
      description: Get detailed information about the child instances of the DICOM study whose Orthanc identifier is provided in the URL
      parameters:
      - description: If false or missing, only retrieve the list of child instances
        in: query
        name: expand
        required: false
        schema:
          type: string
      - description: If present, report the DICOM tags in full format (tags indexed by their hexadecimal format, associated with their symbolic name and their value)
        in: query
        name: full
        required: false
        schema:
          type: boolean
      - description: 'If present, list the DICOM Tags you want to list in the response.  This argument is a semi-column separated list of DICOM Tags identifiers; e.g: ''requested-tags=0010,0010;PatientBirthDate''.  The tags requested tags are returned in the ''RequestedTags'' field in the response.  Note that, if you are requesting tags that are not listed in the Main Dicom Tags stored in DB, building the response might be slow since Orthanc will need to access the DICOM files.  If not specified, Orthanc will return all Main Dicom Tags to keep backward compatibility with Orthanc prior to 1.11.0.'
        in: query
        name: requested-tags
        required: false
        schema:
          type: string
      - description: If present, report the DICOM tags in hexadecimal format
        in: query
        name: short
        required: false
        schema:
          type: boolean
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: JSON array containing information about the child DICOM instances
                example:
                - FileSize: 527852
                  FileUuid: 970db5af-4b53-4dca-996d-71bb8b0f9368
                  ID: 00330d0f-911e5e8d-1e305bae-e5c53b73-d2a49298
                  IndexInSeries: 10
                  Labels: []
                  '{...}': '...'
                - FileSize: 134656
                  FileUuid: 75528491-8bbb-4877-a783-0cd218f5dacf
                  ID: 00402ce7-ac05c687-4d0839bc-cecd4fad-3d1b7eed
                  IndexInSeries: 17
                  Labels: []
                  '{...}': '...'
                - FileSize: 142908
                  FileUuid: f4deebe4-32b7-479f-ad5e-4116c34905ff
                  ID: 00ffd506-6460663a-cda9bddc-a0090c47-145ba829
                  IndexInSeries: 51
                  Labels: []
                  '{...}': '...'
                - FileSize: 527858
                  FileUuid: 699e3eae-d074-453f-9758-77d44acdfd4d
                  ID: 01a6ffdc-335f82a7-c79360c2-2e6bbc35-d24ca33d
                  IndexInSeries: 15
                  Labels: []
                  '{...}': '...'
                - FileSize: 142908
                  FileUuid: 7fbf9970-a230-4b6d-84e0-7e6f660e137d
                  ID: 0577c66f-25d7cc30-bb763c60-53bb7ba0-72c8b018
                  IndexInSeries: 89
                  Labels: []
                  '{...}': '...'
                - '...'
          description: ''
      summary: Get child instances
      tags:
      - Studies
      operationId: getStudiesByIdInstances
      x-operation-id-source: derived
  /studies/{id}/instances-tags:
    get:
      deprecated: false
      description: Get the tags of all the child instances of the DICOM study whose Orthanc identifier is provided in the URL
      parameters:
      - description: Also include the DICOM tags that are provided in this list, even if their associated value is long
        in: query
        name: ignore-length
        required: false
        schema:
          items:
            type: string
          type: array
      - description: If present, report the DICOM tags in hexadecimal format
        in: query
        name: short
        required: false
        schema:
          type: boolean
      - description: If present, report the DICOM tags in human-readable format (using the symbolic name of the tags)
        in: query
        name: simplify
        required: false
        schema:
          type: boolean
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: JSON object associating the Orthanc identifiers of the instances, with the values of their DICOM tags
                example:
                  00330d0f-911e5e8d-1e305bae-e5c53b73-d2a49298:
                    0008,0005:
                      Name: SpecificCharacterSet
                      Type: String
                      Value: ISO_IR 100
                    0008,0008:
                      Name: ImageType
                      Type: String
                      Value: ORIGINAL\PRIMARY\M_SE\M\SE
                    0008,0012:
                      Name: InstanceCreationDate
                      Type: String
                      Value: '20061201'
                    0008,0013:
                      Name: InstanceCreationTime
                      Type: String
                      Value: '145331.000000'
                    0008,0014:
                      Name: InstanceCreatorUID
                      Type: String
                      Value: 1.3.46.670589.11.8743.5
                    '{...}': '...'
                  00402ce7-ac05c687-4d0839bc-cecd4fad-3d1b7eed:
                    0008,0005:
                      Name: SpecificCharacterSet
                      Type: String
                      Value: ISO_IR 100
                    0008,0008:
                      Name: ImageType
                      Type: String
                      Value: ORIGINAL\PRIMARY\M_FFE\M\FFE
                    0008,0012:
                      Name: InstanceCreationDate
                      Type: String
                      Value: '20061201'
                    0008,0013:
                      Name: InstanceCreationTime
                      Type: String
                      Value: '145326.000000'
                    0008,0014:
                      Name: InstanceCreatorUID
                      Type: String
                      Value: 1.3.46.670589.11.8743.5
                    '{...}': '...'
                  00ffd506-6460663a-cda9bddc-a0090c47-145ba829:
                    0008,0005:
                      Name: SpecificCharacterSet
                      Type: String
                      Value: ISO_IR 100
                    0008,0008:
                      Name: ImageType
                      Type: String
                      Value: ORIGINAL\PRIMARY\M_FFE\M\FFE
                    0008,0012:
                      Name: InstanceCreationDate
                      Type: String
                      Value: '20061201'
                    0008,0013:
                      Name: InstanceCreationTime
                      Type: String
                      Value: '145346.000000'
                    0008,0014:
                      Name: InstanceCreatorUID
                      Type: String
                      Value: 1.3.46.670589.11.8743.5
                    '{...}': '...'
                  01a6ffdc-335f82a7-c79360c2-2e6bbc35-d24ca33d:
                    0008,0005:
                      Name: SpecificCharacterSet
                      Type: String
                      Value: ISO_IR 100
                    0008,0008:
                      Name: ImageType
                      Type: String
                      Value: ORIGINAL\PRIMARY\M_SE\M\SE
                    0008,0012:
                      Name: InstanceCreationDate
                      Type: String
                      Value: '20061201'
                    0008,0013:
                      Name: InstanceCreationTime
                      Type: String
                      Value: '145313.000000'
                    0008,0014:
                      Name: InstanceCreatorUID
                      Type: String
                      Value: 1.3.46.670589.11.8743.5
                    '{...}': '...'
                  0577c66f-25d7cc30-bb763c60-53bb7ba0-72c8b018:
                    0008,0005:
                      Name: SpecificCharacterSet
                      Type: String
                      Value: ISO_IR 100
                    0008,0008:
                      Name: ImageType
                      Type: String
                      Value: ORIGINAL\PRIMARY\M_FFE\M\FFE
                    0008,0012:
                      Name: InstanceCreationDate
                      Type: String
                      Value: '20061201'
                    0008,0013:
                      Name: InstanceCreationTime
                      Type: String
                      Value: '145346.000000'
                    0008,0014:
                      Name: InstanceCreatorUID
                      Type: String
                      Value: 1.3.46.670589.11.8743.5
                    '{...}': '...'
                  '{...}': '...'
          description: ''
      summary: Get tags of instances
      tags:
      - Studies
      operationId: getStudiesByIdInstancesTags
      x-operation-id-source: derived
  /studies/{id}/labels:
    get:
      deprecated: false
      description: Get the labels that are associated with the given study (new in Orthanc 1.12.0)
      parameters:
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: JSON array containing the names of the labels
                example: []
          description: ''
      summary: List labels
      tags:
      - Studies
      operationId: getStudiesByIdLabels
      x-operation-id-source: derived
  /studies/{id}/labels/{label}:
    delete:
      deprecated: false
      description: Remove a label associated with a study
      parameters:
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The label to be removed
        in: path
        name: label
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Remove label
      tags:
      - Studies
      operationId: deleteStudiesByIdLabelsByLabel
      x-operation-id-source: derived
    get:
      deprecated: false
      description: Test whether the study is associated with the given label
      parameters:
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The label of interest
        in: path
        name: label
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            text/plain:
              examples: {}
              schema:
                description: Empty string is returned in the case of presence, error 404 in the case of absence
          description: ''
      summary: Test label
      tags:
      - Studies
      operationId: getStudiesByIdLabelsByLabel
      x-operation-id-source: derived
    put:
      deprecated: false
      description: Associate a label with a study
      parameters:
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The label to be added
        in: path
        name: label
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Add label
      tags:
      - Studies
      operationId: putStudiesByIdLabelsByLabel
      x-operation-id-source: derived
  /studies/{id}/media:
    get:
      deprecated: false
      description: Synchronously create a DICOMDIR media containing the DICOM study whose Orthanc identifier is provided in the URL. This flavor is synchronous, which might *not* be desirable to archive large amount of data, as it might lead to network timeouts. Prefer the asynchronous version using `POST` method.
      parameters:
      - description: If present, will include additional tags such as `SeriesDescription`, leading to a so-called *extended DICOMDIR*
        in: query
        name: extended
        required: false
        schema:
          type: string
      - description: Filename to set in the "Content-Disposition" HTTP header (including file extension)
        in: query
        name: filename
        required: false
        schema:
          type: string
      - description: If transcoding to a lossy transfer syntax, this entry defines the quality as an integer between 1 and 100.  If not provided, the value is defined by the "DicomLossyTranscodingQuality" configuration. (new in v1.12.7)
        in: query
        name: lossy-quality
        required: false
        schema:
          type: number
      - description: 'If present, the DICOM files in the archive will be transcoded to the provided transfer syntax: https://orthanc.uclouvain.be/book/faq/transcoding.html'
        in: query
        name: transcode
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/zip:
              examples: {}
              schema:
                description: ZIP file containing the archive
          description: ''
      summary: Create DICOMDIR media
      tags:
      - Studies
      operationId: getStudiesByIdMedia
      x-operation-id-source: derived
    post:
      deprecated: false
      description: Create a DICOMDIR media containing the DICOM study whose Orthanc identifier is provided in the URL
      parameters:
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              properties:
                Asynchronous:
                  description: If `true`, create the archive in asynchronous mode, which means that a job is submitted to create the archive in background.
                  type: boolean
                Extended:
                  description: If `true`, will include additional tags such as `SeriesDescription`, leading to a so-called *extended DICOMDIR*. Default value is `false`.
                  type: boolean
                Filename:
                  description: Filename to set in the "Content-Disposition" HTTP header (including file extension)
                  type: string
                LossyQuality:
                  description: If transcoding to a lossy transfer syntax, this entry defines the quality as an integer between 1 and 100.  If not provided, the value is defined by the "DicomLossyTranscodingQuality" configuration. (new in 1.12.7)
                  type: number
                Priority:
                  description: In asynchronous mode, the priority of the job. The higher the value, the higher the priority.
                  type: number
                Synchronous:
                  description: If `true`, create the archive in synchronous mode, which means that the HTTP answer will directly contain the ZIP file. This is the default, easy behavior. However, if global configuration option "SynchronousZipStream" is set to "false", asynchronous transfers should be preferred for large amount of data, as the creation of the temporary file might lead to network timeouts.
                  type: boolean
                Transcode:
                  description: 'If present, the DICOM files in the archive will be transcoded to the provided transfer syntax: https://orthanc.uclouvain.be/book/faq/transcoding.html'
                  type: string
                UserData:
                  description: In asynchronous mode, user data that will be attached to the job.
                  type: object
                Utf8:
                  description: If `true`, filenames will be encoded using UTF-8 in the ZIP archive, which may not be supported by your operating system or by your ZIP uncompression software. If `false`, filenames will be encoded using plain ASCII, which was the default in Orthanc <= 1.12.10. Default value is defined by the "ZipUseUtf8" configuration option. (new in 1.12.11)
                  type: boolean
      responses:
        '200':
          content:
            application/json:
              examples: {}
              schema:
                description: 'In asynchronous mode, information about the job that has been submitted to generate the archive: https://orthanc.uclouvain.be/book/users/advanced-rest.html#jobs'
                properties:
                  ID:
                    description: Identifier of the job
                    type: string
                  Path:
                    description: Path to access the job in the REST API
                    type: string
            application/zip:
              examples: {}
              schema:
                description: In synchronous mode, the ZIP file containing the archive
          description: ''
      summary: Create DICOMDIR media
      tags:
      - Studies
      operationId: postStudiesByIdMedia
      x-operation-id-source: derived
  /studies/{id}/merge:
    post:
      deprecated: false
      description: 'Start a new job so as to move some DICOM resources into the DICOM study whose Orthanc identifier is provided in the URL: https://orthanc.uclouvain.be/book/users/anonymization.html#merging'
      parameters:
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              properties:
                Asynchronous:
                  description: If `true`, run the job in asynchronous mode, which means that the REST API call will immediately return, reporting the identifier of a job. Prefer this flavor wherever possible.
                  type: boolean
                KeepSource:
                  description: If set to `true`, instructs Orthanc to keep a copy of the original resources in their source study. By default, the original resources are deleted from Orthanc.
                  type: boolean
                Permissive:
                  description: If `true`, ignore errors during the individual steps of the job.  Default value is `false`.
                  type: boolean
                Priority:
                  description: In asynchronous mode, the priority of the job. The higher the value, the higher the priority.  Default value is `0`
                  type: number
                Resources:
                  description: The list of DICOM resources (studies, series, and/or instances) to be merged into the study of interest (mandatory option)
                  items:
                    type: string
                  type: array
                Synchronous:
                  description: If `true`, run the job in synchronous mode, which means that the HTTP answer will directly contain the result of the job. This is the default, easy behavior, but it is *not* desirable for long jobs, as it might lead to network timeouts.
                  type: boolean
                UserData:
                  description: User data that will travel along with the job.
                  type: object
      responses:
        '200':
          content:
            application/json:
              examples: {}
              schema:
                description: ''
                properties:
                  ID:
                    description: In asynchronous mode, identifier of the job
                    type: string
                  Path:
                    description: In asynchronous mode, path to access the job in the REST API
                    type: string
          description: ''
      summary: Merge study
      tags:
      - Studies
      operationId: postStudiesByIdMerge
      x-operation-id-source: derived
  /studies/{id}/metadata:
    get:
      deprecated: false
      description: Get the list of metadata that are associated with the given study
      parameters:
      - description: If present, also retrieve the value of the individual metadata
        in: query
        name: expand
        required: false
        schema:
          type: string
      - description: If present, use the numeric identifier of the metadata instead of its symbolic name
        in: query
        name: numeric
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: JSON array containing the names of the available metadata, or JSON associative array mapping metadata to their values (if `expand` argument is provided)
                example:
                - LastUpdate
                - MainDicomTagsSignature
          description: ''
      summary: List metadata
      tags:
      - Studies
      operationId: getStudiesByIdMetadata
      x-operation-id-source: derived
  /studies/{id}/metadata/{name}:
    delete:
      deprecated: false
      description: Delete some metadata associated with the given DICOM study. This call will fail if trying to delete a system metadata (i.e. whose index is < 1024).
      parameters:
      - description: Revision of the metadata, to check if its content has not changed and can be deleted. This header is mandatory if `CheckRevisions` option is `true`.
        in: header
        name: If-Match
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the metadata, or its index (cf. `UserMetadata` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Delete metadata
      tags:
      - Studies
      operationId: deleteStudiesByIdMetadataByName
      x-operation-id-source: derived
    get:
      deprecated: false
      description: Get the value of a metadata that is associated with the given study
      parameters:
      - description: Optional revision of the metadata, to check if its content has changed
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the metadata, or its index (cf. `UserMetadata` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            text/plain:
              examples: {}
              schema:
                description: Value of the metadata
          description: ''
          headers:
            ETag:
              description: Revision of the metadata, to be used in further `PUT` or `DELETE` operations
      summary: Get metadata
      tags:
      - Studies
      operationId: getStudiesByIdMetadataByName
      x-operation-id-source: derived
    put:
      deprecated: false
      description: Set the value of some metadata in the given DICOM study. This call will fail if trying to modify a system metadata (i.e. whose index is < 1024).
      parameters:
      - description: Revision of the metadata, if this is not the first time this metadata is set.
        in: header
        name: If-Match
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the metadata, or its index (cf. `UserMetadata` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          text/plain:
            schema:
              description: String value of the metadata
      responses:
        '200':
          description: ''
      summary: Set metadata
      tags:
      - Studies
      operationId: putStudiesByIdMetadataByName
      x-operation-id-source: derived
  /studies/{id}/modify:
    post:
      deprecated: false
      description: Start a job that will modify all the DICOM instances within the study whose identifier is provided in the URL. The modified DICOM instances will be stored into a brand new study, whose Orthanc identifiers will be returned by the job. https://orthanc.uclouvain.be/book/users/anonymization.html#modification-of-studies-or-series
      parameters:
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              properties:
                Asynchronous:
                  description: If `true`, run the job in asynchronous mode, which means that the REST API call will immediately return, reporting the identifier of a job. Prefer this flavor wherever possible.
                  type: boolean
                Force:
                  description: Allow the modification of tags related to DICOM identifiers, at the risk of breaking the DICOM model of the real world
                  type: boolean
                Keep:
                  description: Keep the original value of the specified tags, to be chosen among the `StudyInstanceUID`, `SeriesInstanceUID` and `SOPInstanceUID` tags. Avoid this feature as much as possible, as this breaks the DICOM model of the real world.
                  items:
                    type: string
                  type: array
                KeepSource:
                  description: If set to `false`, instructs Orthanc to the remove original resources. By default, the original resources are kept in Orthanc.
                  type: boolean
                LossyQuality:
                  description: If transcoding to a lossy transfer syntax, this entry defines the quality as an integer between 1 and 100.  If not provided, the value is defined by the "DicomLossyTranscodingQuality" configuration. (new in v1.12.7)
                  type: number
                Permissive:
                  description: If `true`, ignore errors during the individual steps of the job.  Default value is `false`.
                  type: boolean
                Priority:
                  description: In asynchronous mode, the priority of the job. The higher the value, the higher the priority.  Default value is `0`
                  type: number
                PrivateCreator:
                  description: The private creator to be used for private tags in `Replace`
                  type: string
                Remove:
                  description: List of tags that must be removed from the DICOM instances. Starting with Orthanc 1.9.4, paths to subsequences can be provided using the same syntax as the `dcmodify` command-line tool (wildcards are supported as well).
                  items:
                    type: string
                  type: array
                RemovePrivateTags:
                  description: Remove the private tags from the DICOM instances (defaults to `false`)
                  type: boolean
                Replace:
                  description: Associative array to change the value of some DICOM tags in the DICOM instances. Starting with Orthanc 1.9.4, paths to subsequences can be provided using the same syntax as the `dcmodify` command-line tool (wildcards are supported as well).
                  type: object
                Synchronous:
                  description: If `true`, run the job in synchronous mode, which means that the HTTP answer will directly contain the result of the job. This is the default, easy behavior, but it is *not* desirable for long jobs, as it might lead to network timeouts.
                  type: boolean
                Transcode:
                  description: 'Transcode the DICOM instances to the provided DICOM transfer syntax: https://orthanc.uclouvain.be/book/faq/transcoding.html'
                  type: string
                UserData:
                  description: User data that will travel along with the job.
                  type: object
      responses:
        '200':
          content:
            application/json:
              examples: {}
              schema:
                description: ''
                properties:
                  ID:
                    description: In asynchronous mode, identifier of the job
                    type: string
                  Path:
                    description: In asynchronous mode, path to access the job in the REST API
                    type: string
          description: ''
      summary: Modify study
      tags:
      - Studies
      operationId: postStudiesByIdModify
      x-operation-id-source: derived
  /studies/{id}/module:
    get:
      deprecated: false
      description: Get the study module of the DICOM study whose Orthanc identifier is provided in the URL
      parameters:
      - description: Also include the DICOM tags that are provided in this list, even if their associated value is long
        in: query
        name: ignore-length
        required: false
        schema:
          items:
            type: string
          type: array
      - description: If present, report the DICOM tags in hexadecimal format
        in: query
        name: short
        required: false
        schema:
          type: boolean
      - description: If present, report the DICOM tags in human-readable format (using the symbolic name of the tags)
        in: query
        name: simplify
        required: false
        schema:
          type: boolean
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Information about the DICOM study
                example:
                  0008,0020:
                    Name: StudyDate
                    Type: String
                    Value: '20061201'
                  0008,0030:
                    Name: StudyTime
                    Type: String
                    Value: '141645.000000'
                  0008,0050:
                    Name: AccessionNumber
                    Type: String
                    Value: '0'
                  0008,0090:
                    Name: ReferringPhysicianName
                    Type: String
                    Value: dAEvNTxZJO0E
                  0008,1030:
                    Name: StudyDescription
                    Type: String
                    Value: IRM cérébrale, neuro-crâne
                  0008,1032:
                    Name: ProcedureCodeSequence
                    Type: Sequence
                    Value:
                    - 0008,0100:
                        Name: CodeValue
                        Type: String
                        Value: IRMCEREB
                      0008,0102:
                        Name: CodingSchemeDesignator
                        Type: String
                        Value: XPLORE
                      0008,0104:
                        Name: CodeMeaning
                        Type: String
                        Value: IRM cérébrale, neuro-crâne
                      0008,010b:
                        Name: ContextGroupExtensionFlag
                        Type: String
                        Value: N
                  0008,1110:
                    Name: ReferencedStudySequence
                    Type: Sequence
                    Value:
                    - 0008,1150:
                        Name: ReferencedSOPClassUID
                        Type: String
                        Value: 1.2.840.10008.3.1.2.3.1
                      0008,1155:
                        Name: ReferencedSOPInstanceUID
                        Type: String
                        Value: 2.16.840.1.113669.632.20.1211.10000357775
                  0020,000d:
                    Name: StudyInstanceUID
                    Type: String
                    Value: 2.16.840.1.113669.632.20.1211.10000357775
                  0020,0010:
                    Name: StudyID
                    Type: String
                    Value: '218211405'
          description: ''
      summary: Get study module
      tags:
      - Studies
      operationId: getStudiesByIdModule
      x-operation-id-source: derived
  /studies/{id}/module-patient:
    get:
      deprecated: false
      description: Get the patient module of the DICOM study whose Orthanc identifier is provided in the URL
      parameters:
      - description: Also include the DICOM tags that are provided in this list, even if their associated value is long
        in: query
        name: ignore-length
        required: false
        schema:
          items:
            type: string
          type: array
      - description: If present, report the DICOM tags in hexadecimal format
        in: query
        name: short
        required: false
        schema:
          type: boolean
      - description: If present, report the DICOM tags in human-readable format (using the symbolic name of the tags)
        in: query
        name: simplify
        required: false
        schema:
          type: boolean
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Information about the DICOM study
                example:
                  0010,0010:
                    Name: PatientName
                    Type: String
                    Value: BRAINIX
                  0010,0020:
                    Name: PatientID
                    Type: String
                    Value: 5Yp0E
                  0010,0030:
                    Name: PatientBirthDate
                    Type: String
                    Value: '19490301'
                  0010,0040:
                    Name: PatientSex
                    Type: String
                    Value: '0000'
          description: ''
      summary: Get patient module of study
      tags:
      - Studies
      operationId: getStudiesByIdModulePatient
      x-operation-id-source: derived
  /studies/{id}/patient:
    get:
      deprecated: false
      description: Get detailed information about the parent patient of the DICOM study whose Orthanc identifier is provided in the URL
      parameters:
      - description: If present, report the DICOM tags in full format (tags indexed by their hexadecimal format, associated with their symbolic name and their value)
        in: query
        name: full
        required: false
        schema:
          type: boolean
      - description: 'If present, list the DICOM Tags you want to list in the response.  This argument is a semi-column separated list of DICOM Tags identifiers; e.g: ''requested-tags=0010,0010;PatientBirthDate''.  The tags requested tags are returned in the ''RequestedTags'' field in the response.  Note that, if you are requesting tags that are not listed in the Main Dicom Tags stored in DB, building the response might be slow since Orthanc will need to access the DICOM files.  If not specified, Orthanc will return all Main Dicom Tags to keep backward compatibility with Orthanc prior to 1.11.0.'
        in: query
        name: requested-tags
        required: false
        schema:
          type: string
      - description: If present, report the DICOM tags in hexadecimal format
        in: query
        name: short
        required: false
        schema:
          type: boolean
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Information about the parent DICOM patient
                example:
                  ID: 16738bc3-e47ed42a-43ce044c-a3414a45-cb069bd0
                  IsProtected: false
                  IsStable: true
                  Labels: []
                  LastUpdate: 20231109T160811
                  MainDicomTags:
                    PatientBirthDate: '19490301'
                    PatientID: 5Yp0E
                    PatientName: BRAINIX
                    PatientSex: '0000'
                  Studies:
                  - 27f7126f-4f66fb14-03f4081b-f9341db2-53925988
                  Type: Patient
          description: ''
      summary: Get parent patient
      tags:
      - Studies
      operationId: getStudiesByIdPatient
      x-operation-id-source: derived
  /studies/{id}/reconstruct:
    post:
      deprecated: false
      description: Reconstruct the main DICOM tags in DB of the study whose Orthanc identifier is provided in the URL. This is useful if child studies/series/instances have inconsistent values for higher-level tags, in order to force Orthanc to use the value from the resource of interest. Beware that this is a time-consuming operation, as all the children DICOM instances will be parsed again, and the Orthanc index will be updated accordingly.
      parameters:
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              properties:
                LimitToThisLevelMainDicomTags:
                  description: Only reconstruct this level MainDicomTags by re-reading them from a random child instance of the resource. This option is much faster than a full reconstruct and is useful e.g. if you have modified the 'ExtraMainDicomTags' at the Study level to optimize the speed of some C-Find. 'false' by default. (New in Orthanc 1.12.4)
                  type: boolean
                ReconstructFiles:
                  description: 'Also reconstruct the files of the resources (e.g: apply IngestTranscoding, StorageCompression). ''false'' by default. (New in Orthanc 1.11.0)'
                  type: boolean
      responses:
        '200':
          description: ''
      summary: Reconstruct tags & optionally files of study
      tags:
      - Studies
      operationId: postStudiesByIdReconstruct
      x-operation-id-source: derived
  /studies/{id}/series:
    get:
      deprecated: false
      description: Get detailed information about the child series of the DICOM study whose Orthanc identifier is provided in the URL
      parameters:
      - description: If false or missing, only retrieve the list of child series
        in: query
        name: expand
        required: false
        schema:
          type: string
      - description: If present, report the DICOM tags in full format (tags indexed by their hexadecimal format, associated with their symbolic name and their value)
        in: query
        name: full
        required: false
        schema:
          type: boolean
      - description: 'If present, list the DICOM Tags you want to list in the response.  This argument is a semi-column separated list of DICOM Tags identifiers; e.g: ''requested-tags=0010,0010;PatientBirthDate''.  The tags requested tags are returned in the ''RequestedTags'' field in the response.  Note that, if you are requesting tags that are not listed in the Main Dicom Tags stored in DB, building the response might be slow since Orthanc will need to access the DICOM files.  If not specified, Orthanc will return all Main Dicom Tags to keep backward compatibility with Orthanc prior to 1.11.0.'
        in: query
        name: requested-tags
        required: false
        schema:
          type: string
      - description: If present, report the DICOM tags in hexadecimal format
        in: query
        name: short
        required: false
        schema:
          type: boolean
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: JSON array containing information about the child DICOM series
                example:
                - ExpectedNumberOfInstances: null
                  ID: 1e2c125c-411b8e86-3f4fe68e-a7584dd3-c6da78f0
                  Instances:
                  - 08ff3a1a-c8fb57d9-4e24d9cb-2ed22b80-0ff7461e
                  - 144ca294-6e759cfb-e14e3404-e78a0a29-1dd3273c
                  - 24ea828f-4bb7e2c9-81ad498d-613f5370-257d9bf4
                  - 2db53a93-91179cd5-f2080c32-c9b156ec-b8f65fa7
                  - 3ad70bbe-bc51faff-860461d2-44745ccf-0ebbbbc8
                  - '...'
                  IsStable: true
                  Labels: []
                  '{...}': '...'
                - ExpectedNumberOfInstances: null
                  ID: 2ac1316d-3e432022-62eabff2-c59f5475-9b1ac3f8
                  Instances:
                  - 00402ce7-ac05c687-4d0839bc-cecd4fad-3d1b7eed
                  - 08a2d286-90c63258-2d3de665-81fb63e0-c1ab4430
                  - 12ac4ec9-c77cf495-49bb19c2-406ca427-a6a7a49d
                  - 18bc4146-4bb09c43-e4080c80-19bfc186-6b3d7272
                  - 1d429ccb-bdcc78a1-7d129d6a-ba4966ed-fe4dbd87
                  - '...'
                  IsStable: true
                  Labels: []
                  '{...}': '...'
                - ExpectedNumberOfInstances: null
                  ID: 3ca69615-fcd4a4fb-e5f2cc9d-9c7a49a5-add98bbf
                  Instances:
                  - 01a6ffdc-335f82a7-c79360c2-2e6bbc35-d24ca33d
                  - 13d42bfa-7488b98e-5f4b7f2c-e4f16d52-04e55924
                  - 1f223623-a9af0a3a-a05f9703-bce0f692-9e7e26d0
                  - 1fe1c0ec-4ef1f887-564443f4-2ca0c4a1-08b2376e
                  - 2fbd6d5f-802f6561-b9d8da32-c54ead16-18a208bd
                  - '...'
                  IsStable: true
                  Labels: []
                  '{...}': '...'
                - ExpectedNumberOfInstances: null
                  ID: 4baa97c7-d53d3d82-a5eb9403-17ef5a77-4e0efb55
                  Instances:
                  - 23f1307c-25e6d5fa-73de34cb-8ee02fa0-15ac4cc5
                  - 35095224-b89d1134-dfd23fcc-ffa43d4b-853b142d
                  - 3ef0864e-3d8d9b45-ee823ede-0c1d21ee-c9a40185
                  - 4368e7c1-33f7303d-5fc9fcc6-6e5fde31-6959b209
                  - 4476310e-ecf6744a-a5a54925-16b65d9f-9dfe7054
                  - '...'
                  IsStable: true
                  Labels: []
                  '{...}': '...'
                - ExpectedNumberOfInstances: null
                  ID: 635faa23-fd8378ee-d03bce29-ee47c2fb-a65c5509
                  Instances:
                  - 065baa49-a7b4e4a0-e7468f1d-e9b5bca8-56316fa2
                  - 0a3d6e84-30f0133e-8ff54580-f9b49ea9-2bc5c9aa
                  - 139c2f68-f6fb3237-8fc4658a-ef0027c6-89178eb7
                  - 15aa5488-fdeb2c38-d5e49109-23879aff-83f9acbd
                  - 182763f1-037c0d53-de86eba5-05f1d0b6-b1141618
                  - '...'
                  IsStable: true
                  Labels: []
                  '{...}': '...'
                - '...'
          description: ''
      summary: Get child series
      tags:
      - Studies
      operationId: getStudiesByIdSeries
      x-operation-id-source: derived
  /studies/{id}/shared-tags:
    get:
      deprecated: false
      description: Extract the DICOM tags whose value is constant across all the child instances of the DICOM study whose Orthanc identifier is provided in the URL
      parameters:
      - description: If present, report the DICOM tags in hexadecimal format
        in: query
        name: short
        required: false
        schema:
          type: boolean
      - description: If present, report the DICOM tags in human-readable format (using the symbolic name of the tags)
        in: query
        name: simplify
        required: false
        schema:
          type: boolean
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: JSON object containing the values of the DICOM tags
                example:
                  0008,0005:
                    Name: SpecificCharacterSet
                    Type: String
                    Value: ISO_IR 100
                  0008,0012:
                    Name: InstanceCreationDate
                    Type: String
                    Value: '20061201'
                  0008,0014:
                    Name: InstanceCreatorUID
                    Type: String
                    Value: 1.3.46.670589.11.8743.5
                  0008,0016:
                    Name: SOPClassUID
                    Type: String
                    Value: 1.2.840.10008.5.1.4.1.1.4
                  0008,0020:
                    Name: StudyDate
                    Type: String
                    Value: '20061201'
                  '{...}': '...'
          description: ''
      summary: Get shared tags
      tags:
      - Studies
      operationId: getStudiesByIdSharedTags
      x-operation-id-source: derived
  /studies/{id}/split:
    post:
      deprecated: false
      description: 'Start a new job so as to split the DICOM study whose Orthanc identifier is provided in the URL, by taking some of its children series or instances out of it and putting them into a brand new study (this new study is created by setting the `StudyInstanceUID` tag to a random identifier): https://orthanc.uclouvain.be/book/users/anonymization.html#splitting'
      parameters:
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              properties:
                Asynchronous:
                  description: If `true`, run the job in asynchronous mode, which means that the REST API call will immediately return, reporting the identifier of a job. Prefer this flavor wherever possible.
                  type: boolean
                Instances:
                  description: The list of instances to be separated from the parent study. These instances must all be children of the same source study, that is specified in the URI.
                  items:
                    type: string
                  type: array
                KeepLabels:
                  description: Keep the labels of all resources level (defaults to `false`)
                  type: boolean
                KeepSource:
                  description: If set to `true`, instructs Orthanc to keep a copy of the original series/instances in the source study. By default, the original series/instances are deleted from Orthanc.
                  type: boolean
                Permissive:
                  description: If `true`, ignore errors during the individual steps of the job.  Default value is `false`.
                  type: boolean
                Priority:
                  description: In asynchronous mode, the priority of the job. The higher the value, the higher the priority.  Default value is `0`
                  type: number
                Remove:
                  description: List of tags that must be removed in the new study (from the same modules as in the `Replace` option)
                  items:
                    type: string
                  type: array
                Replace:
                  description: Associative array to change the value of some DICOM tags in the new study. These tags must be part of the "Patient Module Attributes" or the "General Study Module Attributes", as specified by the DICOM 2011 standard in Tables C.7-1 and C.7-3.
                  type: object
                Series:
                  description: The list of series to be separated from the parent study. These series must all be children of the same source study, that is specified in the URI.
                  items:
                    type: string
                  type: array
                Synchronous:
                  description: If `true`, run the job in synchronous mode, which means that the HTTP answer will directly contain the result of the job. This is the default, easy behavior, but it is *not* desirable for long jobs, as it might lead to network timeouts.
                  type: boolean
                UserData:
                  description: User data that will travel along with the job.
                  type: object
      responses:
        '200':
          content:
            application/json:
              examples: {}
              schema:
                description: ''
                properties:
                  ID:
                    description: In asynchronous mode, identifier of the job
                    type: string
                  Path:
                    description: In asynchronous mode, path to access the job in the REST API
                    type: string
          description: ''
      summary: Split study
      tags:
      - Studies
      operationId: postStudiesByIdSplit
      x-operation-id-source: derived
  /studies/{id}/statistics:
    get:
      deprecated: false
      description: Get statistics about the given study
      parameters:
      - description: Orthanc identifier of the study of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                example:
                  CountInstances: 232
                  CountSeries: 7
                  DicomDiskSize: '68153234'
                  DicomDiskSizeMB: 64
                  DicomUncompressedSize: '68153234'
                  DicomUncompressedSizeMB: 64
                  DiskSize: '68153234'
                  DiskSizeMB: 64
                  UncompressedSize: '68153234'
                  UncompressedSizeMB: 64
                properties:
                  CountInstances:
                    description: Number of child instances within this study
                    type: number
                  CountSeries:
                    description: Number of child series within this study
                    type: number
                  DicomDiskSize:
                    description: Size on the disk of the DICOM instances associated with the study, expressed in bytes
                    type: string
                  DicomDiskSizeMB:
                    description: Size on the disk of the DICOM instances associated with the study, expressed in megabytes (MB)
                    type: number
                  DicomUncompressedSize:
                    description: Size on the disk of the uncompressed DICOM instances associated with the study, expressed in bytes
                    type: string
                  DicomUncompressedSizeMB:
                    description: Size on the disk of the uncompressed DICOM instances associated with the study, expressed in megabytes (MB)
                    type: number
                  DiskSize:
                    description: Size of the study on the disk in bytes, expressed as a string for 64bit compatibility with JSON
                    type: string
                  DiskSizeMB:
                    description: Size of the study on the disk, expressed in megabytes (MB)
                    type: number
                  UncompressedSize:
                    description: Size of the study after decompression in bytes, expressed as a string for 64bit compatibility with JSON
                    type: string
                  UncompressedSizeMB:
                    description: Size of the study after decompression, expressed in megabytes (MB). This is different from `DiskSizeMB` iff `StorageCompression` is `true`.
                    type: number
          description: ''
      summary: Get study statistics
      tags:
      - Studies
      operationId: getStudiesByIdStatistics
      x-operation-id-source: derived
