openapi: 3.2.0
info:
  description: 'This is the full documentation of the REST API of Orthanc.

    This reference is automatically generated from the source code of Orthanc. A shorter cheat sheet is part of the Orthanc Book.

    An earlier, manually crafted version from August 2019, is still available, but is not up-to-date anymore (source).'
  title: Orthanc Series API
  version: 1.13.0
servers:
- url: https://orthanc.uclouvain.be/demo/
tags:
- name: Series
paths:
  /series:
    get:
      deprecated: false
      description: List the Orthanc identifiers of all the available DICOM series
      parameters:
      - description: If present, retrieve detailed information about the individual resources, not only their Orthanc identifiers
        in: query
        name: expand
        required: false
        schema:
          type: string
      - description: If present, report the DICOM tags in full format (tags indexed by their hexadecimal format, associated with their symbolic name and their value)
        in: query
        name: full
        required: false
        schema:
          type: boolean
      - description: Limit the number of results
        in: query
        name: limit
        required: false
        schema:
          type: number
      - description: 'If present, list the DICOM Tags you want to list in the response.  This argument is a semi-column separated list of DICOM Tags identifiers; e.g: ''requested-tags=0010,0010;PatientBirthDate''.  The tags requested tags are returned in the ''RequestedTags'' field in the response.  Note that, if you are requesting tags that are not listed in the Main Dicom Tags stored in DB, building the response might be slow since Orthanc will need to access the DICOM files.  If not specified, Orthanc will return all Main Dicom Tags to keep backward compatibility with Orthanc prior to 1.11.0.'
        in: query
        name: requested-tags
        required: false
        schema:
          type: string
      - description: 'Defines the content of response for each returned resource.  Allowed values are `MainDicomTags`, `Metadata`, `Children`, `Parent`, `Labels`, `Status`, `IsStable`, `IsProtected`, `Attachments`.  If not specified, Orthanc will return `MainDicomTags`, `Metadata`, `Children`, `Parent`, `Labels`, `Status`, `IsStable`, `IsProtected`.e.g: ''response-content=MainDicomTags;Children (new in Orthanc 1.12.5 - overrides `expand`)'
        in: query
        name: response-content
        required: false
        schema:
          type: string
      - description: If present, report the DICOM tags in hexadecimal format
        in: query
        name: short
        required: false
        schema:
          type: boolean
      - description: Show only the resources since the provided index
        in: query
        name: since
        required: false
        schema:
          type: number
      responses:
        '200':
          content:
            application/json:
              schema:
                description: JSON array containing either the Orthanc identifiers, or detailed information about the reported series (if `expand` argument is provided)
                example:
                - 17cc7e52-4f1a3e4d-9182f727-56e9cc71-c037892f
                - 1d9c4560-6480f3d9-0a4d3654-65715f38-755ad2e0
          description: ''
      summary: List the available series
      tags:
      - Series
      operationId: getSeries
      x-operation-id-source: derived
  /series/{id}:
    delete:
      deprecated: false
      description: Delete the DICOM series whose Orthanc identifier is provided in the URL
      parameters:
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Delete some series
      tags:
      - Series
      operationId: deleteSeriesById
      x-operation-id-source: derived
    get:
      deprecated: false
      description: Get detailed information about the DICOM series whose Orthanc identifier is provided in the URL
      parameters:
      - description: If present, report the DICOM tags in full format (tags indexed by their hexadecimal format, associated with their symbolic name and their value)
        in: query
        name: full
        required: false
        schema:
          type: boolean
      - description: 'If present, list the DICOM Tags you want to list in the response.  This argument is a semi-column separated list of DICOM Tags identifiers; e.g: ''requested-tags=0010,0010;PatientBirthDate''.  The tags requested tags are returned in the ''RequestedTags'' field in the response.  Note that, if you are requesting tags that are not listed in the Main Dicom Tags stored in DB, building the response might be slow since Orthanc will need to access the DICOM files.  If not specified, Orthanc will return all Main Dicom Tags to keep backward compatibility with Orthanc prior to 1.11.0.'
        in: query
        name: requested-tags
        required: false
        schema:
          type: string
      - description: If present, report the DICOM tags in hexadecimal format
        in: query
        name: short
        required: false
        schema:
          type: boolean
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Information about the DICOM series
                example:
                  ExpectedNumberOfInstances: null
                  ID: 37836232-d13a2350-fa1dedc5-962b31aa-010f8e52
                  Instances:
                  - 6582b1c0-292ad5ab-ba0f088f-f7a1766f-9a29a54f
                  IsStable: true
                  Labels: []
                  LastUpdate: 20231109T160851
                  MainDicomTags:
                    ImageOrientationPatient: 0\1\0\0\0\-1
                    Manufacturer: Philips
                    Modality: CT
                    PerformedProcedureStepDescription: CT2 tête, face, sinus
                    ProtocolName: COU 2 mm/Neck/Sv
                    SeriesInstanceUID: 1.2.840.113704.1.111.5692.1127828999.2
                    SeriesNumber: '2276'
                    StationName: ctrad
                  ParentStudy: 49974143-ec23cb52-6b2a1c46-14d5daa0-0822ce1a
                  Status: Unknown
                  Type: Series
          description: ''
      summary: Get information about some series
      tags:
      - Series
      operationId: getSeriesById
      x-operation-id-source: derived
  /series/{id}/anonymize:
    post:
      deprecated: false
      description: Start a job that will anonymize all the DICOM instances within the series whose identifier is provided in the URL. The modified DICOM instances will be stored into a brand new series, whose Orthanc identifiers will be returned by the job. https://orthanc.uclouvain.be/book/users/anonymization.html#anonymization-of-patients-studies-or-series
      parameters:
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              properties:
                Asynchronous:
                  description: If `true`, run the job in asynchronous mode, which means that the REST API call will immediately return, reporting the identifier of a job. Prefer this flavor wherever possible.
                  type: boolean
                DicomVersion:
                  description: Version of the DICOM standard to be used for anonymization. Check out configuration option `DeidentifyLogsDicomVersion` for possible values.
                  type: string
                Force:
                  description: Allow the modification of tags related to DICOM identifiers, at the risk of breaking the DICOM model of the real world
                  type: boolean
                Keep:
                  description: List of DICOM tags whose value must not be destroyed by the anonymization. Starting with Orthanc 1.9.4, paths to subsequences can be provided using the same syntax as the `dcmodify` command-line tool (wildcards are supported as well).
                  items:
                    type: string
                  type: array
                KeepLabels:
                  description: Keep the labels of all resources level (defaults to `false`)
                  type: boolean
                KeepPrivateTags:
                  description: Keep the private tags from the DICOM instances (defaults to `false`)
                  type: boolean
                KeepSource:
                  description: If set to `false`, instructs Orthanc to the remove original resources. By default, the original resources are kept in Orthanc.
                  type: boolean
                LossyQuality:
                  description: If transcoding to a lossy transfer syntax, this entry defines the quality as an integer between 1 and 100.  If not provided, the value is defined by the "DicomLossyTranscodingQuality" configuration. (new in v1.12.7)
                  type: number
                Permissive:
                  description: If `true`, ignore errors during the individual steps of the job.  Default value is `false`.
                  type: boolean
                Priority:
                  description: In asynchronous mode, the priority of the job. The higher the value, the higher the priority.  Default value is `0`
                  type: number
                PrivateCreator:
                  description: The private creator to be used for private tags in `Replace`
                  type: string
                Remove:
                  description: List of additional tags to be removed from the DICOM instances. Starting with Orthanc 1.9.4, paths to subsequences can be provided using the same syntax as the `dcmodify` command-line tool (wildcards are supported as well).
                  items:
                    type: string
                  type: array
                Replace:
                  description: Associative array to change the value of some DICOM tags in the DICOM instances. Starting with Orthanc 1.9.4, paths to subsequences can be provided using the same syntax as the `dcmodify` command-line tool (wildcards are supported as well).
                  type: object
                Synchronous:
                  description: If `true`, run the job in synchronous mode, which means that the HTTP answer will directly contain the result of the job. This is the default, easy behavior, but it is *not* desirable for long jobs, as it might lead to network timeouts.
                  type: boolean
                Transcode:
                  description: 'Transcode the DICOM instances to the provided DICOM transfer syntax: https://orthanc.uclouvain.be/book/faq/transcoding.html'
                  type: string
                UserData:
                  description: User data that will travel along with the job.
                  type: object
      responses:
        '200':
          content:
            application/json:
              examples: {}
              schema:
                description: ''
                properties:
                  ID:
                    description: In asynchronous mode, identifier of the job
                    type: string
                  Path:
                    description: In asynchronous mode, path to access the job in the REST API
                    type: string
          description: ''
      summary: Anonymize series
      tags:
      - Series
      operationId: postSeriesByIdAnonymize
      x-operation-id-source: derived
  /series/{id}/archive:
    get:
      deprecated: false
      description: Synchronously create a ZIP archive containing the DICOM series whose Orthanc identifier is provided in the URL. This flavor is synchronous, which might *not* be desirable to archive large amount of data, as it might lead to network timeouts. Prefer the asynchronous version using `POST` method.
      parameters:
      - description: Filename to set in the "Content-Disposition" HTTP header (including file extension)
        in: query
        name: filename
        required: false
        schema:
          type: string
      - description: If transcoding to a lossy transfer syntax, this entry defines the quality as an integer between 1 and 100.  If not provided, the value is defined by the "DicomLossyTranscodingQuality" configuration. (new in v1.12.7)
        in: query
        name: lossy-quality
        required: false
        schema:
          type: number
      - description: 'If present, the DICOM files in the archive will be transcoded to the provided transfer syntax: https://orthanc.uclouvain.be/book/faq/transcoding.html'
        in: query
        name: transcode
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/zip:
              examples: {}
              schema:
                description: ZIP file containing the archive
          description: ''
      summary: Create ZIP archive
      tags:
      - Series
      operationId: getSeriesByIdArchive
      x-operation-id-source: derived
    post:
      deprecated: false
      description: Create a ZIP archive containing the DICOM series whose Orthanc identifier is provided in the URL
      parameters:
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              properties:
                Asynchronous:
                  description: If `true`, create the archive in asynchronous mode, which means that a job is submitted to create the archive in background.
                  type: boolean
                Filename:
                  description: Filename to set in the "Content-Disposition" HTTP header (including file extension)
                  type: string
                LossyQuality:
                  description: If transcoding to a lossy transfer syntax, this entry defines the quality as an integer between 1 and 100.  If not provided, the value is defined by the "DicomLossyTranscodingQuality" configuration. (new in 1.12.7)
                  type: number
                Priority:
                  description: In asynchronous mode, the priority of the job. The higher the value, the higher the priority.
                  type: number
                Synchronous:
                  description: If `true`, create the archive in synchronous mode, which means that the HTTP answer will directly contain the ZIP file. This is the default, easy behavior. However, if global configuration option "SynchronousZipStream" is set to "false", asynchronous transfers should be preferred for large amount of data, as the creation of the temporary file might lead to network timeouts.
                  type: boolean
                Transcode:
                  description: 'If present, the DICOM files in the archive will be transcoded to the provided transfer syntax: https://orthanc.uclouvain.be/book/faq/transcoding.html'
                  type: string
                UserData:
                  description: In asynchronous mode, user data that will be attached to the job.
                  type: object
                Utf8:
                  description: If `true`, filenames will be encoded using UTF-8 in the ZIP archive, which may not be supported by your operating system or by your ZIP uncompression software. If `false`, filenames will be encoded using plain ASCII, which was the default in Orthanc <= 1.12.10. Default value is defined by the "ZipUseUtf8" configuration option. (new in 1.12.11)
                  type: boolean
      responses:
        '200':
          content:
            application/json:
              examples: {}
              schema:
                description: 'In asynchronous mode, information about the job that has been submitted to generate the archive: https://orthanc.uclouvain.be/book/users/advanced-rest.html#jobs'
                properties:
                  ID:
                    description: Identifier of the job
                    type: string
                  Path:
                    description: Path to access the job in the REST API
                    type: string
            application/zip:
              examples: {}
              schema:
                description: In synchronous mode, the ZIP file containing the archive
          description: ''
      summary: Create ZIP archive
      tags:
      - Series
      operationId: postSeriesByIdArchive
      x-operation-id-source: derived
  /series/{id}/attachments:
    get:
      deprecated: false
      description: Get the list of attachments that are associated with the given series
      parameters:
      - description: If present, retrieve the attachments list and their numerical ids
        in: query
        name: full
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: JSON array containing the names of the attachments
                example: []
          description: ''
      summary: List attachments
      tags:
      - Series
      operationId: getSeriesByIdAttachments
      x-operation-id-source: derived
  /series/{id}/attachments/{name}:
    delete:
      deprecated: false
      description: Delete an attachment associated with the given DICOM series. This call will fail if trying to delete a system attachment (i.e. whose index is < 1024).
      parameters:
      - description: Revision of the attachment, to check if its content has not changed and can be deleted. This header is mandatory if `CheckRevisions` option is `true`.
        in: header
        name: If-Match
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Delete attachment
      tags:
      - Series
      operationId: deleteSeriesByIdAttachmentsByName
      x-operation-id-source: derived
    put:
      deprecated: false
      description: Attach a file to the given DICOM series. This call will fail if trying to modify a system attachment (i.e. whose index is < 1024).
      parameters:
      - description: Revision of the attachment, if this is not the first time this attachment is set.
        in: header
        name: If-Match
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              description: Binary data containing the attachment
      responses:
        '200':
          content:
            application/json:
              examples: {}
              schema:
                description: Empty JSON object in the case of a success
          description: ''
      summary: Set attachment
      tags:
      - Series
      operationId: putSeriesByIdAttachmentsByName
      x-operation-id-source: derived
  /series/{id}/attachments/{name}/compress:
    post:
      deprecated: false
      description: Change the compression scheme that is used to store an attachment.
      parameters:
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Compress attachment
      tags:
      - Series
      operationId: postSeriesByIdAttachmentsByNameCompress
      x-operation-id-source: derived
  /series/{id}/attachments/{name}/compressed-data:
    get:
      deprecated: false
      description: Get the (binary) content of one attachment associated with the given series. The attachment will not be decompressed if `StorageCompression` is `true`.
      parameters:
      - description: Filename to set in the "Content-Disposition" HTTP header (including file extension)
        in: query
        name: filename
        required: false
        schema:
          type: string
      - description: Optional revision of the attachment, to check if its content has changed
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
      - description: Optional content range to access part of the attachment (new in Orthanc 1.12.5)
        in: header
        name: Range
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/octet-stream:
              examples: {}
              schema:
                description: The attachment
          description: ''
          headers:
            ETag:
              description: Revision of the attachment, to be used in further `PUT` or `DELETE` operations
      summary: Get attachment (no decompression)
      tags:
      - Series
      operationId: getSeriesByIdAttachmentsByNameCompressedData
      x-operation-id-source: derived
  /series/{id}/attachments/{name}/compressed-md5:
    get:
      deprecated: false
      description: Get the MD5 hash of one attachment associated with the given series, as stored on the disk. This is different from `.../md5` iff `EnableStorage` is `true`.
      parameters:
      - description: Optional revision of the attachment, to check if its content has changed
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            text/plain:
              examples: {}
              schema:
                description: The MD5 of the attachment, as stored on the disk
          description: ''
          headers:
            ETag:
              description: Revision of the attachment, to be used in further `PUT` or `DELETE` operations
      summary: Get MD5 of attachment on disk
      tags:
      - Series
      operationId: getSeriesByIdAttachmentsByNameCompressedMd5
      x-operation-id-source: derived
  /series/{id}/attachments/{name}/compressed-size:
    get:
      deprecated: false
      description: Get the size of one attachment associated with the given series, as stored on the disk. This is different from `.../size` iff `EnableStorage` is `true`.
      parameters:
      - description: Optional revision of the attachment, to check if its content has changed
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            text/plain:
              examples: {}
              schema:
                description: The size of the attachment, as stored on the disk
          description: ''
          headers:
            ETag:
              description: Revision of the attachment, to be used in further `PUT` or `DELETE` operations
      summary: Get size of attachment on disk
      tags:
      - Series
      operationId: getSeriesByIdAttachmentsByNameCompressedSize
      x-operation-id-source: derived
  /series/{id}/attachments/{name}/data:
    get:
      deprecated: false
      description: Get the (binary) content of one attachment associated with the given series
      parameters:
      - description: Filename to set in the "Content-Disposition" HTTP header (including file extension)
        in: query
        name: filename
        required: false
        schema:
          type: string
      - description: Optional revision of the attachment, to check if its content has changed
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
      - description: Optional content range to access part of the attachment (new in Orthanc 1.12.5)
        in: header
        name: Range
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/octet-stream:
              examples: {}
              schema:
                description: The attachment
          description: ''
          headers:
            ETag:
              description: Revision of the attachment, to be used in further `PUT` or `DELETE` operations
      summary: Get attachment
      tags:
      - Series
      operationId: getSeriesByIdAttachmentsByNameData
      x-operation-id-source: derived
  /series/{id}/attachments/{name}/info:
    get:
      deprecated: false
      description: Get all the information about the attachment associated with the given series
      parameters:
      - description: Optional revision of the attachment, to check if its content has changed
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: JSON object containing the information about the attachment
                example:
                  CompressedMD5: 26f3fad6ca0c355f02d57c7fa6770248
                  CompressedSize: 526970
                  ContentType: 1
                  UncompressedMD5: 26f3fad6ca0c355f02d57c7fa6770248
                  UncompressedSize: 526970
                  Uuid: ada05909-0efc-43fd-b615-c5cafbaeacf8
          description: ''
          headers:
            ETag:
              description: Revision of the attachment, to be used in further `PUT` or `DELETE` operations
      summary: Get info about the attachment
      tags:
      - Series
      operationId: getSeriesByIdAttachmentsByNameInfo
      x-operation-id-source: derived
  /series/{id}/attachments/{name}/is-compressed:
    get:
      deprecated: false
      description: Test whether the attachment has been stored as a compressed file on the disk.
      parameters:
      - description: Optional revision of the attachment, to check if its content has changed
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            text/plain:
              examples: {}
              schema:
                description: '`0` if the attachment was stored uncompressed, `1` if it was compressed'
          description: ''
          headers:
            ETag:
              description: Revision of the attachment, to be used in further `PUT` or `DELETE` operations
      summary: Is attachment compressed?
      tags:
      - Series
      operationId: getSeriesByIdAttachmentsByNameIsCompressed
      x-operation-id-source: derived
  /series/{id}/attachments/{name}/md5:
    get:
      deprecated: false
      description: Get the MD5 hash of one attachment associated with the given series
      parameters:
      - description: Optional revision of the attachment, to check if its content has changed
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            text/plain:
              examples: {}
              schema:
                description: The MD5 of the attachment
          description: ''
          headers:
            ETag:
              description: Revision of the attachment, to be used in further `PUT` or `DELETE` operations
      summary: Get MD5 of attachment
      tags:
      - Series
      operationId: getSeriesByIdAttachmentsByNameMd5
      x-operation-id-source: derived
  /series/{id}/attachments/{name}/size:
    get:
      deprecated: false
      description: Get the size of one attachment associated with the given series
      parameters:
      - description: Optional revision of the attachment, to check if its content has changed
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            text/plain:
              examples: {}
              schema:
                description: The size of the attachment
          description: ''
          headers:
            ETag:
              description: Revision of the attachment, to be used in further `PUT` or `DELETE` operations
      summary: Get size of attachment
      tags:
      - Series
      operationId: getSeriesByIdAttachmentsByNameSize
      x-operation-id-source: derived
  /series/{id}/attachments/{name}/uncompress:
    post:
      deprecated: false
      description: Change the compression scheme that is used to store an attachment.
      parameters:
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Uncompress attachment
      tags:
      - Series
      operationId: postSeriesByIdAttachmentsByNameUncompress
      x-operation-id-source: derived
  /series/{id}/attachments/{name}/verify-md5:
    post:
      deprecated: false
      description: Verify that the attachment is not corrupted, by validating its MD5 hash
      parameters:
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the attachment, or its index (cf. `UserContentType` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples: {}
              schema:
                description: On success, a valid JSON object is returned
          description: ''
      summary: Verify attachment
      tags:
      - Series
      operationId: postSeriesByIdAttachmentsByNameVerifyMd5
      x-operation-id-source: derived
  /series/{id}/instances:
    get:
      deprecated: false
      description: Get detailed information about the child instances of the DICOM series whose Orthanc identifier is provided in the URL
      parameters:
      - description: If false or missing, only retrieve the list of child instances
        in: query
        name: expand
        required: false
        schema:
          type: string
      - description: If present, report the DICOM tags in full format (tags indexed by their hexadecimal format, associated with their symbolic name and their value)
        in: query
        name: full
        required: false
        schema:
          type: boolean
      - description: 'If present, list the DICOM Tags you want to list in the response.  This argument is a semi-column separated list of DICOM Tags identifiers; e.g: ''requested-tags=0010,0010;PatientBirthDate''.  The tags requested tags are returned in the ''RequestedTags'' field in the response.  Note that, if you are requesting tags that are not listed in the Main Dicom Tags stored in DB, building the response might be slow since Orthanc will need to access the DICOM files.  If not specified, Orthanc will return all Main Dicom Tags to keep backward compatibility with Orthanc prior to 1.11.0.'
        in: query
        name: requested-tags
        required: false
        schema:
          type: string
      - description: If present, report the DICOM tags in hexadecimal format
        in: query
        name: short
        required: false
        schema:
          type: boolean
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: JSON array containing information about the child DICOM instances
                example:
                - FileSize: 368852
                  FileUuid: eec5367e-b460-475c-a808-75343dbf9136
                  ID: 6582b1c0-292ad5ab-ba0f088f-f7a1766f-9a29a54f
                  IndexInSeries: 1
                  Labels: []
                  '{...}': '...'
          description: ''
      summary: Get child instances
      tags:
      - Series
      operationId: getSeriesByIdInstances
      x-operation-id-source: derived
  /series/{id}/instances-tags:
    get:
      deprecated: false
      description: Get the tags of all the child instances of the DICOM series whose Orthanc identifier is provided in the URL
      parameters:
      - description: Also include the DICOM tags that are provided in this list, even if their associated value is long
        in: query
        name: ignore-length
        required: false
        schema:
          items:
            type: string
          type: array
      - description: If present, report the DICOM tags in hexadecimal format
        in: query
        name: short
        required: false
        schema:
          type: boolean
      - description: If present, report the DICOM tags in human-readable format (using the symbolic name of the tags)
        in: query
        name: simplify
        required: false
        schema:
          type: boolean
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: JSON object associating the Orthanc identifiers of the instances, with the values of their DICOM tags
                example:
                  6582b1c0-292ad5ab-ba0f088f-f7a1766f-9a29a54f:
                    0008,0005:
                      Name: SpecificCharacterSet
                      Type: String
                      Value: ISO_IR 100
                    0008,0008:
                      Name: ImageType
                      Type: String
                      Value: ORIGINAL\PRIMARY\LOCALIZER\ES
                    0008,0012:
                      Name: InstanceCreationDate
                      Type: String
                      Value: '20050927'
                    0008,0013:
                      Name: InstanceCreationTime
                      Type: String
                      Value: '155030.000000'
                    0008,0016:
                      Name: SOPClassUID
                      Type: String
                      Value: 1.2.840.10008.5.1.4.1.1.2
                    '{...}': '...'
          description: ''
      summary: Get tags of instances
      tags:
      - Series
      operationId: getSeriesByIdInstancesTags
      x-operation-id-source: derived
  /series/{id}/labels:
    get:
      deprecated: false
      description: Get the labels that are associated with the given series (new in Orthanc 1.12.0)
      parameters:
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: JSON array containing the names of the labels
                example: []
          description: ''
      summary: List labels
      tags:
      - Series
      operationId: getSeriesByIdLabels
      x-operation-id-source: derived
  /series/{id}/labels/{label}:
    delete:
      deprecated: false
      description: Remove a label associated with a series
      parameters:
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The label to be removed
        in: path
        name: label
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Remove label
      tags:
      - Series
      operationId: deleteSeriesByIdLabelsByLabel
      x-operation-id-source: derived
    get:
      deprecated: false
      description: Test whether the series is associated with the given label
      parameters:
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The label of interest
        in: path
        name: label
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            text/plain:
              examples: {}
              schema:
                description: Empty string is returned in the case of presence, error 404 in the case of absence
          description: ''
      summary: Test label
      tags:
      - Series
      operationId: getSeriesByIdLabelsByLabel
      x-operation-id-source: derived
    put:
      deprecated: false
      description: Associate a label with a series
      parameters:
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The label to be added
        in: path
        name: label
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Add label
      tags:
      - Series
      operationId: putSeriesByIdLabelsByLabel
      x-operation-id-source: derived
  /series/{id}/media:
    get:
      deprecated: false
      description: Synchronously create a DICOMDIR media containing the DICOM series whose Orthanc identifier is provided in the URL. This flavor is synchronous, which might *not* be desirable to archive large amount of data, as it might lead to network timeouts. Prefer the asynchronous version using `POST` method.
      parameters:
      - description: If present, will include additional tags such as `SeriesDescription`, leading to a so-called *extended DICOMDIR*
        in: query
        name: extended
        required: false
        schema:
          type: string
      - description: Filename to set in the "Content-Disposition" HTTP header (including file extension)
        in: query
        name: filename
        required: false
        schema:
          type: string
      - description: If transcoding to a lossy transfer syntax, this entry defines the quality as an integer between 1 and 100.  If not provided, the value is defined by the "DicomLossyTranscodingQuality" configuration. (new in v1.12.7)
        in: query
        name: lossy-quality
        required: false
        schema:
          type: number
      - description: 'If present, the DICOM files in the archive will be transcoded to the provided transfer syntax: https://orthanc.uclouvain.be/book/faq/transcoding.html'
        in: query
        name: transcode
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/zip:
              examples: {}
              schema:
                description: ZIP file containing the archive
          description: ''
      summary: Create DICOMDIR media
      tags:
      - Series
      operationId: getSeriesByIdMedia
      x-operation-id-source: derived
    post:
      deprecated: false
      description: Create a DICOMDIR media containing the DICOM series whose Orthanc identifier is provided in the URL
      parameters:
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              properties:
                Asynchronous:
                  description: If `true`, create the archive in asynchronous mode, which means that a job is submitted to create the archive in background.
                  type: boolean
                Extended:
                  description: If `true`, will include additional tags such as `SeriesDescription`, leading to a so-called *extended DICOMDIR*. Default value is `false`.
                  type: boolean
                Filename:
                  description: Filename to set in the "Content-Disposition" HTTP header (including file extension)
                  type: string
                LossyQuality:
                  description: If transcoding to a lossy transfer syntax, this entry defines the quality as an integer between 1 and 100.  If not provided, the value is defined by the "DicomLossyTranscodingQuality" configuration. (new in 1.12.7)
                  type: number
                Priority:
                  description: In asynchronous mode, the priority of the job. The higher the value, the higher the priority.
                  type: number
                Synchronous:
                  description: If `true`, create the archive in synchronous mode, which means that the HTTP answer will directly contain the ZIP file. This is the default, easy behavior. However, if global configuration option "SynchronousZipStream" is set to "false", asynchronous transfers should be preferred for large amount of data, as the creation of the temporary file might lead to network timeouts.
                  type: boolean
                Transcode:
                  description: 'If present, the DICOM files in the archive will be transcoded to the provided transfer syntax: https://orthanc.uclouvain.be/book/faq/transcoding.html'
                  type: string
                UserData:
                  description: In asynchronous mode, user data that will be attached to the job.
                  type: object
                Utf8:
                  description: If `true`, filenames will be encoded using UTF-8 in the ZIP archive, which may not be supported by your operating system or by your ZIP uncompression software. If `false`, filenames will be encoded using plain ASCII, which was the default in Orthanc <= 1.12.10. Default value is defined by the "ZipUseUtf8" configuration option. (new in 1.12.11)
                  type: boolean
      responses:
        '200':
          content:
            application/json:
              examples: {}
              schema:
                description: 'In asynchronous mode, information about the job that has been submitted to generate the archive: https://orthanc.uclouvain.be/book/users/advanced-rest.html#jobs'
                properties:
                  ID:
                    description: Identifier of the job
                    type: string
                  Path:
                    description: Path to access the job in the REST API
                    type: string
            application/zip:
              examples: {}
              schema:
                description: In synchronous mode, the ZIP file containing the archive
          description: ''
      summary: Create DICOMDIR media
      tags:
      - Series
      operationId: postSeriesByIdMedia
      x-operation-id-source: derived
  /series/{id}/metadata:
    get:
      deprecated: false
      description: Get the list of metadata that are associated with the given series
      parameters:
      - description: If present, also retrieve the value of the individual metadata
        in: query
        name: expand
        required: false
        schema:
          type: string
      - description: If present, use the numeric identifier of the metadata instead of its symbolic name
        in: query
        name: numeric
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: JSON array containing the names of the available metadata, or JSON associative array mapping metadata to their values (if `expand` argument is provided)
                example:
                - RemoteAET
                - LastUpdate
                - MainDicomTagsSignature
          description: ''
      summary: List metadata
      tags:
      - Series
      operationId: getSeriesByIdMetadata
      x-operation-id-source: derived
  /series/{id}/metadata/{name}:
    delete:
      deprecated: false
      description: Delete some metadata associated with the given DICOM series. This call will fail if trying to delete a system metadata (i.e. whose index is < 1024).
      parameters:
      - description: Revision of the metadata, to check if its content has not changed and can be deleted. This header is mandatory if `CheckRevisions` option is `true`.
        in: header
        name: If-Match
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the metadata, or its index (cf. `UserMetadata` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Delete metadata
      tags:
      - Series
      operationId: deleteSeriesByIdMetadataByName
      x-operation-id-source: derived
    get:
      deprecated: false
      description: Get the value of a metadata that is associated with the given series
      parameters:
      - description: Optional revision of the metadata, to check if its content has changed
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the metadata, or its index (cf. `UserMetadata` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            text/plain:
              examples: {}
              schema:
                description: Value of the metadata
          description: ''
          headers:
            ETag:
              description: Revision of the metadata, to be used in further `PUT` or `DELETE` operations
      summary: Get metadata
      tags:
      - Series
      operationId: getSeriesByIdMetadataByName
      x-operation-id-source: derived
    put:
      deprecated: false
      description: Set the value of some metadata in the given DICOM series. This call will fail if trying to modify a system metadata (i.e. whose index is < 1024).
      parameters:
      - description: Revision of the metadata, if this is not the first time this metadata is set.
        in: header
        name: If-Match
        required: false
        schema:
          type: string
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The name of the metadata, or its index (cf. `UserMetadata` configuration option)
        in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          text/plain:
            schema:
              description: String value of the metadata
      responses:
        '200':
          description: ''
      summary: Set metadata
      tags:
      - Series
      operationId: putSeriesByIdMetadataByName
      x-operation-id-source: derived
  /series/{id}/modify:
    post:
      deprecated: false
      description: Start a job that will modify all the DICOM instances within the series whose identifier is provided in the URL. The modified DICOM instances will be stored into a brand new series, whose Orthanc identifiers will be returned by the job. https://orthanc.uclouvain.be/book/users/anonymization.html#modification-of-studies-or-series
      parameters:
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              properties:
                Asynchronous:
                  description: If `true`, run the job in asynchronous mode, which means that the REST API call will immediately return, reporting the identifier of a job. Prefer this flavor wherever possible.
                  type: boolean
                Force:
                  description: Allow the modification of tags related to DICOM identifiers, at the risk of breaking the DICOM model of the real world
                  type: boolean
                Keep:
                  description: Keep the original value of the specified tags, to be chosen among the `StudyInstanceUID`, `SeriesInstanceUID` and `SOPInstanceUID` tags. Avoid this feature as much as possible, as this breaks the DICOM model of the real world.
                  items:
                    type: string
                  type: array
                KeepSource:
                  description: If set to `false`, instructs Orthanc to the remove original resources. By default, the original resources are kept in Orthanc.
                  type: boolean
                LossyQuality:
                  description: If transcoding to a lossy transfer syntax, this entry defines the quality as an integer between 1 and 100.  If not provided, the value is defined by the "DicomLossyTranscodingQuality" configuration. (new in v1.12.7)
                  type: number
                Permissive:
                  description: If `true`, ignore errors during the individual steps of the job.  Default value is `false`.
                  type: boolean
                Priority:
                  description: In asynchronous mode, the priority of the job. The higher the value, the higher the priority.  Default value is `0`
                  type: number
                PrivateCreator:
                  description: The private creator to be used for private tags in `Replace`
                  type: string
                Remove:
                  description: List of tags that must be removed from the DICOM instances. Starting with Orthanc 1.9.4, paths to subsequences can be provided using the same syntax as the `dcmodify` command-line tool (wildcards are supported as well).
                  items:
                    type: string
                  type: array
                RemovePrivateTags:
                  description: Remove the private tags from the DICOM instances (defaults to `false`)
                  type: boolean
                Replace:
                  description: Associative array to change the value of some DICOM tags in the DICOM instances. Starting with Orthanc 1.9.4, paths to subsequences can be provided using the same syntax as the `dcmodify` command-line tool (wildcards are supported as well).
                  type: object
                Synchronous:
                  description: If `true`, run the job in synchronous mode, which means that the HTTP answer will directly contain the result of the job. This is the default, easy behavior, but it is *not* desirable for long jobs, as it might lead to network timeouts.
                  type: boolean
                Transcode:
                  description: 'Transcode the DICOM instances to the provided DICOM transfer syntax: https://orthanc.uclouvain.be/book/faq/transcoding.html'
                  type: string
                UserData:
                  description: User data that will travel along with the job.
                  type: object
      responses:
        '200':
          content:
            application/json:
              examples: {}
              schema:
                description: ''
                properties:
                  ID:
                    description: In asynchronous mode, identifier of the job
                    type: string
                  Path:
                    description: In asynchronous mode, path to access the job in the REST API
                    type: string
          description: ''
      summary: Modify series
      tags:
      - Series
      operationId: postSeriesByIdModify
      x-operation-id-source: derived
  /series/{id}/module:
    get:
      deprecated: false
      description: Get the series module of the DICOM series whose Orthanc identifier is provided in the URL
      parameters:
      - description: Also include the DICOM tags that are provided in this list, even if their associated value is long
        in: query
        name: ignore-length
        required: false
        schema:
          items:
            type: string
          type: array
      - description: If present, report the DICOM tags in hexadecimal format
        in: query
        name: short
        required: false
        schema:
          type: boolean
      - description: If present, report the DICOM tags in human-readable format (using the symbolic name of the tags)
        in: query
        name: simplify
        required: false
        schema:
          type: boolean
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Information about the DICOM series
                example:
                  0008,0060:
                    Name: Modality
                    Type: String
                    Value: CT
                  0008,1111:
                    Name: ReferencedPerformedProcedureStepSequence
                    Type: Sequence
                    Value:
                    - 0008,1150:
                        Name: ReferencedSOPClassUID
                        Type: String
                        Value: 1.2.840.10008.3.1.2.3.3
                      0008,1155:
                        Name: ReferencedSOPInstanceUID
                        Type: String
                        Value: 1.2.840.113704.1.111.4496.1127828841.54
                  0018,1030:
                    Name: ProtocolName
                    Type: String
                    Value: COU 2 mm/Neck/Sv
                  0018,5100:
                    Name: PatientPosition
                    Type: String
                    Value: HFS
                  0020,000e:
                    Name: SeriesInstanceUID
                    Type: String
                    Value: 1.2.840.113704.1.111.5692.1127828999.2
                  0020,0011:
                    Name: SeriesNumber
                    Type: String
                    Value: '2276'
                  0040,0253:
                    Name: PerformedProcedureStepID
                    Type: String
                    Value: A10011234815
                  0040,0254:
                    Name: PerformedProcedureStepDescription
                    Type: String
                    Value: CT2 tête, face, sinus
                  0040,0260:
                    Name: PerformedProtocolCodeSequence
                    Type: Sequence
                    Value:
                    - 0008,0100:
                        Name: CodeValue
                        Type: String
                        Value: CTTETE
                      0008,0102:
                        Name: CodingSchemeDesignator
                        Type: String
                        Value: XPLORE
                      0008,0104:
                        Name: CodeMeaning
                        Type: String
                        Value: CT2 tête, face, sinus
                  0040,0275:
                    Name: RequestAttributesSequence
                    Type: Sequence
                    Value:
                    - 0040,0007:
                        Name: ScheduledProcedureStepDescription
                        Type: String
                        Value: CT2 tête, face, sinus
                      0040,0008:
                        Name: ScheduledProtocolCodeSequence
                        Type: Sequence
                        Value:
                        - 0008,0100:
                            Name: CodeValue
                            Type: String
                            Value: CTTETE
                          0008,0102:
                            Name: CodingSchemeDesignator
                            Type: String
                            Value: XPLORE
                          0008,0104:
                            Name: CodeMeaning
                            Type: String
                            Value: CT2 TÊTE, FACE, SINUS
                      0040,0009:
                        Name: ScheduledProcedureStepID
                        Type: String
                        Value: A10011234815
                      0040,1001:
                        Name: RequestedProcedureID
                        Type: String
                        Value: A10011234814
          description: ''
      summary: Get series module
      tags:
      - Series
      operationId: getSeriesByIdModule
      x-operation-id-source: derived
  /series/{id}/numpy:
    get:
      deprecated: false
      description: 'Decode the given DICOM series, for use with numpy in Python. The numpy array has 4 dimensions: (frame, height, width, color channel).'
      parameters:
      - description: Compress the file as `.npz`
        in: query
        name: compress
        required: false
        schema:
          type: boolean
      - description: On grayscale images, apply the rescaling and return floating-point values
        in: query
        name: rescale
        required: false
        schema:
          type: boolean
      - description: Orthanc identifier of the DICOM resource of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            text/plain:
              examples: {}
              schema:
                description: 'Numpy file: https://numpy.org/devdocs/reference/generated/numpy.lib.format.html'
          description: ''
      summary: Decode series for numpy
      tags:
      - Series
      operationId: getSeriesByIdNumpy
      x-operation-id-source: derived
  /series/{id}/ordered-slices:
    get:
      deprecated: true
      description: Sort the instances and frames (slices) of the DICOM series whose Orthanc identifier is provided in the URL. This URI is essentially used by the Orthanc Web viewer and by the Osimis Web viewer.
      parameters:
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                example:
                  Dicom:
                  - /instances/fa1fc64f-e7a051a7-c1233b31-e19bca08-54629531/file
                  - /instances/f5701efb-98170697-404d15f6-59baf69e-4e8ddfae/file
                  - /instances/3b2a215c-2560d4b0-e3730c07-87d3fa7d-3fef44ed/file
                  - /instances/6059d07c-02ae8c74-9436dc7c-007b4d5d-4c770a30/file
                  - /instances/99264275-213c3190-73251bdc-97ccfdb4-1f9656d9/file
                  - /instances/40df6ac1-5ec86316-035ff3c1-07e5c8a8-f6cbd37c/file
                  - /instances/08ff3a1a-c8fb57d9-4e24d9cb-2ed22b80-0ff7461e/file
                  - /instances/6fe353dd-544ce7af-58ce22dd-ab67370c-873330fc/file
                  - /instances/3ad70bbe-bc51faff-860461d2-44745ccf-0ebbbbc8/file
                  - /instances/9058e01a-31a7d982-1691e575-a8607d94-29a9aaca/file
                  - '...'
                  Slices:
                  - /instances/fa1fc64f-e7a051a7-c1233b31-e19bca08-54629531/frames/0
                  - /instances/f5701efb-98170697-404d15f6-59baf69e-4e8ddfae/frames/0
                  - /instances/3b2a215c-2560d4b0-e3730c07-87d3fa7d-3fef44ed/frames/0
                  - /instances/6059d07c-02ae8c74-9436dc7c-007b4d5d-4c770a30/frames/0
                  - /instances/99264275-213c3190-73251bdc-97ccfdb4-1f9656d9/frames/0
                  - /instances/40df6ac1-5ec86316-035ff3c1-07e5c8a8-f6cbd37c/frames/0
                  - /instances/08ff3a1a-c8fb57d9-4e24d9cb-2ed22b80-0ff7461e/frames/0
                  - /instances/6fe353dd-544ce7af-58ce22dd-ab67370c-873330fc/frames/0
                  - /instances/3ad70bbe-bc51faff-860461d2-44745ccf-0ebbbbc8/frames/0
                  - /instances/9058e01a-31a7d982-1691e575-a8607d94-29a9aaca/frames/0
                  - '...'
                  SlicesShort:
                  - - fa1fc64f-e7a051a7-c1233b31-e19bca08-54629531
                    - 0
                    - 1
                  - - f5701efb-98170697-404d15f6-59baf69e-4e8ddfae
                    - 0
                    - 1
                  - - 3b2a215c-2560d4b0-e3730c07-87d3fa7d-3fef44ed
                    - 0
                    - 1
                  - - 6059d07c-02ae8c74-9436dc7c-007b4d5d-4c770a30
                    - 0
                    - 1
                  - - 99264275-213c3190-73251bdc-97ccfdb4-1f9656d9
                    - 0
                    - 1
                  - - 40df6ac1-5ec86316-035ff3c1-07e5c8a8-f6cbd37c
                    - 0
                    - 1
                  - - 08ff3a1a-c8fb57d9-4e24d9cb-2ed22b80-0ff7461e
                    - 0
                    - 1
                  - - 6fe353dd-544ce7af-58ce22dd-ab67370c-873330fc
                    - 0
                    - 1
                  - - 3ad70bbe-bc51faff-860461d2-44745ccf-0ebbbbc8
                    - 0
                    - 1
                  - - 9058e01a-31a7d982-1691e575-a8607d94-29a9aaca
                    - 0
                    - 1
                  - '...'
                  Type: Volume
                properties:
                  Dicom:
                    description: Ordered list of paths to DICOM instances
                    items:
                      type: string
                    type: array
                  Slices:
                    description: Ordered list of paths to frames. It is recommended to use this field, as it is also valid in the case of multiframe images.
                    items:
                      type: string
                    type: array
                  SlicesShort:
                    description: Same information as the `Slices` field, but in a compact form
                    items:
                      type: object
                    type: array
                  Type:
                    description: Can be `Volume` (for 3D volumes) or `Sequence` (notably for cine images)
                    type: string
          description: ''
      summary: Order the slices
      tags:
      - Series
      operationId: getSeriesByIdOrderedSlices
      x-operation-id-source: derived
  /series/{id}/patient:
    get:
      deprecated: false
      description: Get detailed information about the parent patient of the DICOM series whose Orthanc identifier is provided in the URL
      parameters:
      - description: If present, report the DICOM tags in full format (tags indexed by their hexadecimal format, associated with their symbolic name and their value)
        in: query
        name: full
        required: false
        schema:
          type: boolean
      - description: 'If present, list the DICOM Tags you want to list in the response.  This argument is a semi-column separated list of DICOM Tags identifiers; e.g: ''requested-tags=0010,0010;PatientBirthDate''.  The tags requested tags are returned in the ''RequestedTags'' field in the response.  Note that, if you are requesting tags that are not listed in the Main Dicom Tags stored in DB, building the response might be slow since Orthanc will need to access the DICOM files.  If not specified, Orthanc will return all Main Dicom Tags to keep backward compatibility with Orthanc prior to 1.11.0.'
        in: query
        name: requested-tags
        required: false
        schema:
          type: string
      - description: If present, report the DICOM tags in hexadecimal format
        in: query
        name: short
        required: false
        schema:
          type: boolean
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Information about the parent DICOM patient
                example:
                  ID: 2f74083e-9b042648-10edac14-b26950f8-f82ec3a0
                  IsProtected: false
                  IsStable: true
                  Labels: []
                  LastUpdate: 20231109T160911
                  MainDicomTags:
                    PatientBirthDate: '19910101'
                    PatientID: Vafk,T,6
                    PatientName: PHENIX
                    PatientSex: ''
                  Studies:
                  - 49974143-ec23cb52-6b2a1c46-14d5daa0-0822ce1a
                  Type: Patient
          description: ''
      summary: Get parent patient
      tags:
      - Series
      operationId: getSeriesByIdPatient
      x-operation-id-source: derived
  /series/{id}/reconstruct:
    post:
      deprecated: false
      description: Reconstruct the main DICOM tags in DB of the series whose Orthanc identifier is provided in the URL. This is useful if child studies/series/instances have inconsistent values for higher-level tags, in order to force Orthanc to use the value from the resource of interest. Beware that this is a time-consuming operation, as all the children DICOM instances will be parsed again, and the Orthanc index will be updated accordingly.
      parameters:
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              properties:
                LimitToThisLevelMainDicomTags:
                  description: Only reconstruct this level MainDicomTags by re-reading them from a random child instance of the resource. This option is much faster than a full reconstruct and is useful e.g. if you have modified the 'ExtraMainDicomTags' at the Study level to optimize the speed of some C-Find. 'false' by default. (New in Orthanc 1.12.4)
                  type: boolean
                ReconstructFiles:
                  description: 'Also reconstruct the files of the resources (e.g: apply IngestTranscoding, StorageCompression). ''false'' by default. (New in Orthanc 1.11.0)'
                  type: boolean
      responses:
        '200':
          description: ''
      summary: Reconstruct tags & optionally files of series
      tags:
      - Series
      operationId: postSeriesByIdReconstruct
      x-operation-id-source: derived
  /series/{id}/shared-tags:
    get:
      deprecated: false
      description: Extract the DICOM tags whose value is constant across all the child instances of the DICOM series whose Orthanc identifier is provided in the URL
      parameters:
      - description: If present, report the DICOM tags in hexadecimal format
        in: query
        name: short
        required: false
        schema:
          type: boolean
      - description: If present, report the DICOM tags in human-readable format (using the symbolic name of the tags)
        in: query
        name: simplify
        required: false
        schema:
          type: boolean
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: JSON object containing the values of the DICOM tags
                example:
                  0008,0005:
                    Name: SpecificCharacterSet
                    Type: String
                    Value: ISO_IR 100
                  0008,0008:
                    Name: ImageType
                    Type: String
                    Value: ORIGINAL\PRIMARY\LOCALIZER\ES
                  0008,0012:
                    Name: InstanceCreationDate
                    Type: String
                    Value: '20050927'
                  0008,0013:
                    Name: InstanceCreationTime
                    Type: String
                    Value: '155030.000000'
                  0008,0016:
                    Name: SOPClassUID
                    Type: String
                    Value: 1.2.840.10008.5.1.4.1.1.2
                  '{...}': '...'
          description: ''
      summary: Get shared tags
      tags:
      - Series
      operationId: getSeriesByIdSharedTags
      x-operation-id-source: derived
  /series/{id}/statistics:
    get:
      deprecated: false
      description: Get statistics about the given series
      parameters:
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                example:
                  CountInstances: 1
                  DicomDiskSize: '368852'
                  DicomDiskSizeMB: 0
                  DicomUncompressedSize: '368852'
                  DicomUncompressedSizeMB: 0
                  DiskSize: '368852'
                  DiskSizeMB: 0
                  UncompressedSize: '368852'
                  UncompressedSizeMB: 0
                properties:
                  CountInstances:
                    description: Number of child instances within this series
                    type: number
                  DicomDiskSize:
                    description: Size on the disk of the DICOM instances associated with the series, expressed in bytes
                    type: string
                  DicomDiskSizeMB:
                    description: Size on the disk of the DICOM instances associated with the series, expressed in megabytes (MB)
                    type: number
                  DicomUncompressedSize:
                    description: Size on the disk of the uncompressed DICOM instances associated with the series, expressed in bytes
                    type: string
                  DicomUncompressedSizeMB:
                    description: Size on the disk of the uncompressed DICOM instances associated with the series, expressed in megabytes (MB)
                    type: number
                  DiskSize:
                    description: Size of the series on the disk in bytes, expressed as a string for 64bit compatibility with JSON
                    type: string
                  DiskSizeMB:
                    description: Size of the series on the disk, expressed in megabytes (MB)
                    type: number
                  UncompressedSize:
                    description: Size of the series after decompression in bytes, expressed as a string for 64bit compatibility with JSON
                    type: string
                  UncompressedSizeMB:
                    description: Size of the series after decompression, expressed in megabytes (MB). This is different from `DiskSizeMB` iff `StorageCompression` is `true`.
                    type: number
          description: ''
      summary: Get series statistics
      tags:
      - Series
      operationId: getSeriesByIdStatistics
      x-operation-id-source: derived
  /series/{id}/study:
    get:
      deprecated: false
      description: Get detailed information about the parent study of the DICOM series whose Orthanc identifier is provided in the URL
      parameters:
      - description: If present, report the DICOM tags in full format (tags indexed by their hexadecimal format, associated with their symbolic name and their value)
        in: query
        name: full
        required: false
        schema:
          type: boolean
      - description: 'If present, list the DICOM Tags you want to list in the response.  This argument is a semi-column separated list of DICOM Tags identifiers; e.g: ''requested-tags=0010,0010;PatientBirthDate''.  The tags requested tags are returned in the ''RequestedTags'' field in the response.  Note that, if you are requesting tags that are not listed in the Main Dicom Tags stored in DB, building the response might be slow since Orthanc will need to access the DICOM files.  If not specified, Orthanc will return all Main Dicom Tags to keep backward compatibility with Orthanc prior to 1.11.0.'
        in: query
        name: requested-tags
        required: false
        schema:
          type: string
      - description: If present, report the DICOM tags in hexadecimal format
        in: query
        name: short
        required: false
        schema:
          type: boolean
      - description: Orthanc identifier of the series of interest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Information about the parent DICOM study
                example:
                  ID: 49974143-ec23cb52-6b2a1c46-14d5daa0-0822ce1a
                  IsStable: true
                  Labels: []
                  LastUpdate: 20231109T160911
                  MainDicomTags:
                    AccessionNumber: A10011234814
                    InstitutionName: HUG
                    ReferringPhysicianName: CHIR-PED^CHIR-PE
                    RequestedProcedureDescription: CT2 TÊTE, FACE, SINUS
                    RequestingPhysician: KOHLER^Romain
                    StudyDate: '20050927'
                    StudyDescription: CT2 tête, face, sinus
                    StudyID: '1361'
                    StudyInstanceUID: 2.16.840.1.113669.632.20.1211.10000098591
                    StudyTime: '154952.000000'
                  ParentPatient: 2f74083e-9b042648-10edac14-b26950f8-f82ec3a0
                  PatientMainDicomTags:
                    PatientBirthDate: '19910101'
                    PatientID: Vafk,T,6
                    PatientName: PHENIX
                    PatientSex: ''
                  Series:
                  - 17cc7e52-4f1a3e4d-9182f727-56e9cc71-c037892f
                  - 37836232-d13a2350-fa1dedc5-962b31aa-010f8e52
                  - 7696013f-4c89c563-2b071693-5d1f97f6-f8ab232d
                  Type: Study
          description: ''
      summary: Get parent study
      tags:
      - Series
      operationId: getSeriesByIdStudy
      x-operation-id-source: derived
